# Projects for Analysis of Anti-Depressant Drugsâ€™s Adverse Events by FDA Adverse Event Reporting System (FAERS) from January 2019 to December 2023

## 2. CLEAN DATA

In [1]:
# load library
import pandas as pd
import numpy as np
import re

In [2]:
# CHECK DATA BEFORE CLEANING
data = pd.read_csv('FAERS_merged_data.csv')

data.info()

/var/folders/_z/wx40qqws337c64bjr5v3vh_80000gn/T/ipykernel_49531/3161812462.py:2: DtypeWarning: Columns (12,26,37,46,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('FAERS_merged_data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904757 entries, 0 to 1904756
Data columns (total 54 columns):
 #   Column            Dtype
---  ------            -----
 0   primaryid         int64
 1   caseid            int64
 2   drug_seq          int64
 3   role_cod          object
 4   drugname          object
 5   prod_ai           object
 6   val_vbm           int64
 7   route             object
 8   dose_vbm          object
 9   cum_dose_chr      float64
 10  cum_dose_unit     object
 11  dechal            object
 12  rechal            object
 13  lot_num           object
 14  exp_dt            float64
 15  nda_num           float64
 16  dose_amt          float64
 17  dose_unit         object
 18  dose_form         object
 19  dose_freq         object
 20  indi_drug_seq     int64
 21  indi_pt           object
 22  dsg_drug_seq      float64
 23  start_dt          float64
 24  end_dt            float64
 25  dur               float64
 26  dur_cod           object
 27  caseversion       int64
 28  i_f_code          object
 29  event_dt          float64
 30  mfr_dt            float64
 31  init_fda_dt       int64
 32  fda_dt            int64
 33  rept_cod          object
 34  auth_num          object
 35  mfr_num           object
 36  mfr_sndr          object
 37  lit_ref           object
 38  age               float64
 39  age_cod           object
 40  age_grp           object
 41  sex               object
 42  e_sub             object
 43  wt                float64
 44  wt_cod            object
 45  rept_dt           float64
 46  to_mfr            object
 47  occp_cod          object
 48  reporter_country  object
 49  occr_country      object
 50  pt                object
 51  drug_rec_act      object
 52  outc_cod          object
 53  rpsr_cod          object
dtypes: float64(13), int64(8), object(33)
memory usage: 784.7+ MB

In [3]:
# snapshot of data
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
primaryid,1904757.0,NaN,NaN,NaN,391520321.016668,504412937.658664,39063042.0,159016213.0,184448831.0,218733853.0,2300387711.0
caseid,1904757.0,NaN,NaN,NaN,17003711.165206,3591565.716194,3906304.0,15004798.0,17207571.0,19709683.0,23357481.0
drug_seq,1904757.0,NaN,NaN,NaN,14.487911,23.461267,1.0,2.0,6.0,16.0,403.0
role_cod,1904757,4,C,669550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drugname,1904757,6525,SERTRALINE,103479,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prod_ai,1891949,1016,SERTRALINE HYDROCHLORIDE,158070,NaN,NaN,NaN,NaN,NaN,NaN,NaN
val_vbm,1904757.0,NaN,NaN,NaN,1.005792,0.075887,1.0,1.0,1.0,1.0,2.0
route,1409233,34,Oral,745557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_vbm,1326974,26031,UNK,276944,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cum_dose_chr,108093.0,NaN,NaN,NaN,97449.501018,300018.504177,0.0,1080.0,10965.0,85078.75,8767200.0
cum_dose_unit,107630,12,MG,102736,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dechal,1264092,4,U,589039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rechal,320824,4,U,293069,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lot_num,230584,3774,UNKNOWN,81156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
exp_dt,7484.0,NaN,NaN,NaN,19952673.474479,2254637.12933,2020.0,20190910.0,20210801.0,20230317.0,20261031.0
nda_num,465614.0,NaN,NaN,NaN,69215186.171159,11767813673.400003,0.0,21434.0,76690.0,90325.0,2007500680001.0
dose_amt,1056219.0,NaN,NaN,NaN,103.760755,406.2918,0.0,15.0,30.0,75.0,50000.0
dose_unit,1056147,24,MG,989742,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_form,685763,370,TABLET,233142,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_freq,680667,32,QD,584714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indi_drug_seq,1904757.0,NaN,NaN,NaN,14.487911,23.461267,1.0,2.0,6.0,16.0,403.0
indi_pt,1904757,34,depression,1543707,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dsg_drug_seq,758961.0,NaN,NaN,NaN,16.192778,24.708049,1.0,2.0,6.0,20.0,403.0
start_dt,696010.0,NaN,NaN,NaN,11404384.588882,9945380.111055,1955.0,2019.0,20010101.0,20170505.0,20231220.0
end_dt,411596.0,NaN,NaN,NaN,13902739.763681,9274650.507148,1978.0,201509.0,20110706.0,20181013.0,29190403.0
dur,125417.0,NaN,NaN,NaN,494.460716,1274.099712,0.0,6.0,45.0,92.0,13850.0
dur_cod,125407,6,DAY,96542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
caseversion,1904757.0,NaN,NaN,NaN,6.807133,10.89947,1.0,1.0,3.0,7.0,95.0
i_f_code,1904757,2,F,1285830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_dt,1260711.0,NaN,NaN,NaN,13754420.620287,9353419.672137,1969.0,201703.0,20130509.0,20190508.0,20231225.0
mfr_dt,1879858.0,NaN,NaN,NaN,20204981.69927,46048.335272,2019.0,20190611.0,20210126.0,20220713.0,20231231.0
init_fda_dt,1904757.0,NaN,NaN,NaN,20192210.688468,28261.124459,20030211.0,20180613.0,20191227.0,20210817.0,20231231.0
fda_dt,1904757.0,NaN,NaN,NaN,20206323.541295,17296.840995,20041027.0,20190723.0,20210226.0,20220803.0,20231231.0
rept_cod,1904757,5,EXP,1743196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
auth_num,302895,11697,GB-MHAR-ADR 21240100-002,45045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mfr_num,1879695,109204,GB-Accord-010561,45045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mfr_sndr,1904757,442,AUROBINDO,175106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lit_ref,222198,9774,Unknown. Falls in an elderly person with multi...,2052,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,1548658.0,NaN,NaN,NaN,280.291678,2213.708498,0.0,31.0,50.0,64.0,33540.0
age_cod,1548830,6,YR,1504008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age_grp,334105,6,A,262028,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,1746933,5,F,1241293,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e_sub,1904757,2,Y,1879310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wt,908463.0,NaN,NaN,NaN,73.646752,23.448429,0.0,63.5,67.19,88.0,378.0
wt_cod,908463,2,KG,907649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rept_dt,1904424.0,NaN,NaN,NaN,20206322.346868,17299.470822,20041027.0,20190723.0,20210226.0,20220803.0,20231231.0
to_mfr,24976,2,N,22459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occp_cod,1862481,6,CN,610150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reporter_country,1904752,106,US,551199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occr_country,1822695,108,US,537251,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pt,1904757,8398,Off label use,27676,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drug_rec_act,4621,692,Drug interaction,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
outc_cod,1789381,7,OT,830779,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rpsr_cod,24883,6,CSM,20024,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# normalise text function
def normalize_text(text):
    if pd.isnull(text):
        return ''
    
    return re.sub(r'[^\w\s]', '', text).lower()

### 2.1 FILTER DATA BASED ON KEY FOCUS

#### 2.1.1. Filter role_cod

For any indication, it could be the mix between medication given to patients. To focus only on antidepressants, we filter the data based on role_cod for studying direct effects of antidepressants.

Code for drug's reported role in event:
| Code | Meaning                |
|------|------------------------|
| PS   | Primary Suspect Drug   |
| SS   | Secondary Suspect Drug |
| C    | Concomitant            |
| I    | Interacting            |

In [5]:
# check if the drug is primary suspected or not -> if not, remove to focus only main suspect
data['role_cod'].value_counts()

C     669550
SS    663402
PS    337517
I     234288
Name: role_cod, dtype: int64

In [6]:
# filter based on role_cod of main suspect
data = data[data['role_cod'] == 'PS']
data['role_cod'] = data['role_cod'].replace('PS', 'primary suspect')

data['role_cod'].value_counts()

primary suspect    337517
Name: role_cod, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337517 entries, 192 to 1904756
Data columns (total 54 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         337517 non-null  int64
 1   caseid            337517 non-null  int64
 2   drug_seq          337517 non-null  int64
 3   role_cod          337517 non-null  object
 4   drugname          337517 non-null  object
 5   prod_ai           337517 non-null  object
 6   val_vbm           337517 non-null  int64
 7   route             287348 non-null  object
 8   dose_vbm          288750 non-null  object
 9   cum_dose_chr      24663 non-null   float64
 10  cum_dose_unit     24643 non-null   object
 11  dechal            278059 non-null  object
 12  rechal            96368 non-null   object
 13  lot_num           66701 non-null   object
 14  exp_dt            7070 non-null    float64
 15  nda_num           312152 non-null  float64
 16  dose_amt          229592 non-null  float64
 17  dose_unit         229590 non-null  object
 18  dose_form         164151 non-null  object
 19  dose_freq         135210 non-null  object
 20  indi_drug_seq     337517 non-null  int64
 21  indi_pt           337517 non-null  object
 22  dsg_drug_seq      190889 non-null  float64
 23  start_dt          170385 non-null  float64
 24  end_dt            117009 non-null  float64
 25  dur               31049 non-null   float64
 26  dur_cod           31045 non-null   object
 27  caseversion       337517 non-null  int64
 28  i_f_code          337517 non-null  object
 29  event_dt          198056 non-null  float64
 30  mfr_dt            314756 non-null  float64
 31  init_fda_dt       337517 non-null  int64
 32  fda_dt            337517 non-null  int64
 33  rept_cod          337517 non-null  object
 34  auth_num          73181 non-null   object
 35  mfr_num           314596 non-null  object
 36  mfr_sndr          337517 non-null  object
 37  lit_ref           46885 non-null   object
 38  age               259977 non-null  float64
 39  age_cod           260057 non-null  object
 40  age_grp           45925 non-null   object
 41  sex               309588 non-null  object
 42  e_sub             337517 non-null  object
 43  wt                135188 non-null  float64
 44  wt_cod            135188 non-null  object
 45  rept_dt           337283 non-null  float64
 46  to_mfr            22840 non-null   object
 47  occp_cod          335338 non-null  object
 48  reporter_country  337512 non-null  object
 49  occr_country      326910 non-null  object
 50  pt                337517 non-null  object
 51  drug_rec_act      1263 non-null    object
 52  outc_cod          296848 non-null  object
 53  rpsr_cod          22341 non-null   object
dtypes: float64(13), int64(8), object(33)
memory usage: 141.6+ MB

#### 2.1.2 Filter event_dt & remove other date columns

We also only focus on the adverse events happened from 01/2018 to 12/2024 to analyse if any trends of adverse events pre-Covid, during Covid, and post-Covid => Use event_dt for further analysis.

In [8]:
# check missing data of event_dt
missing_pattern = data[data['event_dt'].isnull()]

print(missing_pattern.describe(include='all'))

           primaryid        caseid       drug_seq         role_cod  \
count   1.394610e+05  1.394610e+05  139461.000000           139461
unique           NaN           NaN            NaN                1
top              NaN           NaN            NaN  primary suspect
freq             NaN           NaN            NaN           139461
mean    2.218843e+08  1.804951e+07       1.120593              NaN
std     2.519622e+08  2.877664e+06       0.761686              NaN
min     5.847994e+07  5.847994e+06       1.000000              NaN
25%     1.599015e+08  1.589154e+07       1.000000              NaN
50%     1.791568e+08  1.775410e+07       1.000000              NaN
75%     2.063272e+08  2.034579e+07       1.000000              NaN
max     2.188078e+09  2.335335e+07      30.000000              NaN

          drugname                    prod_ai   val_vbm    route dose_vbm  \
count       139461                     139461  139461.0   116915   116682
unique        1129                        294       NaN       24     5054
top     SERTRALINE  VENLAFAXINE HYDROCHLORIDE       NaN  Unknown      UNK
freq         10077                      15845       NaN    66085    24564
mean           NaN                        NaN       1.0      NaN      NaN
std            NaN                        NaN       0.0      NaN      NaN
min            NaN                        NaN       1.0      NaN      NaN
25%            NaN                        NaN       1.0      NaN      NaN
50%            NaN                        NaN       1.0      NaN      NaN
75%            NaN                        NaN       1.0      NaN      NaN
max            NaN                        NaN       1.0      NaN      NaN

         cum_dose_chr  ... wt_cod       rept_dt to_mfr occp_cod  \
count      727.000000  ...  27289  1.393880e+05   2058   138406
unique            NaN  ...      2           NaN      2        6
top               NaN  ...     KG           NaN      N       CN
freq              NaN  ...  27067           NaN   1826    43935
mean      4808.952957  ...    NaN  2.020480e+07    NaN      NaN
std       9721.139474  ...    NaN  1.745696e+04    NaN      NaN
min          0.000000  ...    NaN  2.007052e+07    NaN      NaN
25%        150.000000  ...    NaN  2.019061e+07    NaN      NaN
50%       1500.000000  ...    NaN  2.020103e+07    NaN      NaN
75%       9000.000000  ...    NaN  2.022053e+07    NaN      NaN
max     111200.000000  ...    NaN  2.023123e+07    NaN      NaN

        reporter_country  occr_country                pt      drug_rec_act  \
count             139456        136780            139461               619
unique                83            87              3529               229
top                   US            US  Drug ineffective  Drug interaction
freq               49585         49525              3832                29
mean                 NaN           NaN               NaN               NaN
std                  NaN           NaN               NaN               NaN
min                  NaN           NaN               NaN               NaN
25%                  NaN           NaN               NaN               NaN
50%                  NaN           NaN               NaN               NaN
75%                  NaN           NaN               NaN               NaN
max                  NaN           NaN               NaN               NaN

       outc_cod rpsr_cod
count    119694     2064
unique        7        5
top          OT      CSM
freq      60738     1618
mean        NaN      NaN
std         NaN      NaN
min         NaN      NaN
25%         NaN      NaN
50%         NaN      NaN
75%         NaN      NaN
max         NaN      NaN

[11 rows x 54 columns]

In [9]:
# Check missing bias by drug
missing_drug_bias = missing_pattern['drugname'].value_counts()

print("Drug distribution in missing EVENT_DT:")
print(missing_drug_bias)

Drug distribution in missing EVENT_DT:
SERTRALINE                              10077
VENLAFAXINE                              7948
ESCITALOPRAM                             7100
FLUOXETINE                               6393
CITALOPRAM                               5903
                                        ...
Fonksera                                    1
TRAMADOL TEVA                               1
RISPERIDONE 0.5mg                           1
ARIPIPRAZOLE TABLETS 2MG                    1
Fluoxetin-ratiopharm 20 mg Tabletten        1
Name: drugname, Length: 1129, dtype: int64

In [10]:
# Check missing bias by adverse events
missing_pt_bias = missing_pattern['pt'].value_counts()

print("Adverse events distribution in missing EVENT_DT:")
print(missing_pt_bias)

Adverse events distribution in missing EVENT_DT:
Drug ineffective              3832
Drug interaction              2871
Serotonin syndrome            2136
Off label use                 2121
Suicidal ideation             1970
                              ...
Intervertebral disc injury       1
Adenoidal disorder               1
Psychotic behaviour              1
Meningitis listeria              1
Vomiting in pregnancy            1
Name: pt, Length: 3529, dtype: int64

In [11]:
# the top 3 AEs of mising bias is not AEs -> remove these 3 symptoms out of data
non_ae = ['Drug ineffective', 'Drug interaction', 'Off label use']

data = data[~data['pt'].isin(non_ae)]

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322661 entries, 192 to 1904756
Data columns (total 54 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         322661 non-null  int64
 1   caseid            322661 non-null  int64
 2   drug_seq          322661 non-null  int64
 3   role_cod          322661 non-null  object
 4   drugname          322661 non-null  object
 5   prod_ai           322661 non-null  object
 6   val_vbm           322661 non-null  int64
 7   route             275481 non-null  object
 8   dose_vbm          276433 non-null  object
 9   cum_dose_chr      24030 non-null   float64
 10  cum_dose_unit     24010 non-null   object
 11  dechal            266815 non-null  object
 12  rechal            92664 non-null   object
 13  lot_num           63603 non-null   object
 14  exp_dt            6903 non-null    float64
 15  nda_num           297990 non-null  float64
 16  dose_amt          219933 non-null  float64
 17  dose_unit         219932 non-null  object
 18  dose_form         157130 non-null  object
 19  dose_freq         129570 non-null  object
 20  indi_drug_seq     322661 non-null  int64
 21  indi_pt           322661 non-null  object
 22  dsg_drug_seq      184998 non-null  float64
 23  start_dt          165188 non-null  float64
 24  end_dt            114098 non-null  float64
 25  dur               30065 non-null   float64
 26  dur_cod           30061 non-null   object
 27  caseversion       322661 non-null  int64
 28  i_f_code          322661 non-null  object
 29  event_dt          192024 non-null  float64
 30  mfr_dt            300325 non-null  float64
 31  init_fda_dt       322661 non-null  int64
 32  fda_dt            322661 non-null  int64
 33  rept_cod          322661 non-null  object
 34  auth_num          71165 non-null   object
 35  mfr_num           300165 non-null  object
 36  mfr_sndr          322661 non-null  object
 37  lit_ref           43290 non-null   object
 38  age               248702 non-null  float64
 39  age_cod           248782 non-null  object
 40  age_grp           44084 non-null   object
 41  sex               296063 non-null  object
 42  e_sub             322661 non-null  object
 43  wt                131241 non-null  float64
 44  wt_cod            131241 non-null  object
 45  rept_dt           322432 non-null  float64
 46  to_mfr            22412 non-null   object
 47  occp_cod          320572 non-null  object
 48  reporter_country  322656 non-null  object
 49  occr_country      312374 non-null  object
 50  pt                322661 non-null  object
 51  drug_rec_act      1201 non-null    object
 52  outc_cod          285749 non-null  object
 53  rpsr_cod          21920 non-null   object
dtypes: float64(13), int64(8), object(33)
memory usage: 135.4+ MB

In [12]:
import random
import numpy as np
import pandas as pd

# Function to handle partial dates
def complete_date(date):
    """
    Handle partial dates:
    - Year only -> Keep year, impute month later
    - Year + Month -> Add first day of the month
    - Full date -> Use as is
    """
    if pd.isnull(date):
        return np.nan
    date = str(int(date))  # Convert to string
    if len(date) == 4:  # Year only
        return f"{date}"  # Keep year, impute month later
    elif len(date) == 6:  # Year + Month
        return f"{date[:4]}-{date[4:6]}-01"  # First day of the month
    elif len(date) == 8:  # Full date
        return f"{date[:4]}-{date[4:6]}-{date[6:]}"  # Full date
    return np.nan  # Handle invalid formats

# Apply function to date columns
date_columns = ['exp_dt', 'start_dt', 'end_dt', 'event_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt']
for col in date_columns:
    data[col] = data[col].apply(complete_date)
    data[col] = pd.to_datetime(data[col], errors='coerce')

In [13]:
# Function to impute event_dt for each primaryid group
def impute_event_dt_for_primaryid(group):
    """
    Ensure event_dt is consistent for the same primaryid.
    Fill missing event_dt using related date columns (mfr_dt, rept_dt, init_fda_dt).
    Leave NaN if no dates exist for the group.
    """
    # Fill event_dt using related date columns
    group['event_dt'] = group['event_dt'].fillna(
        group['mfr_dt'].combine_first(group['rept_dt']).combine_first(group['init_fda_dt'])
    )
    
    # If all event_dt are NaN, leave as NaN
    if group['event_dt'].isnull().all():
        return group

    # Use the first valid event_dt for the group and assign it to all rows in the group
    first_valid_date = group['event_dt'].dropna().iloc[0]
    group['event_dt'] = group['event_dt'].fillna(first_valid_date)

    return group

# Group by primaryid and ensure event_dt consistency
data = data.groupby('primaryid', group_keys=False).apply(impute_event_dt_for_primaryid)

# Convert event_dt back to datetime format to ensure consistency
data['event_dt'] = pd.to_datetime(data['event_dt'], errors='coerce')

In [14]:
# Validate the remaining missing values
missing_event_dt = data['event_dt'].isnull().sum()
print(f"Remaining missing EVENT_DT after imputation: {missing_event_dt}")

Remaining missing EVENT_DT after imputation: 0

In [15]:
data['event_dt'].describe(include='all')

/var/folders/_z/wx40qqws337c64bjr5v3vh_80000gn/T/ipykernel_49531/3672415007.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data['event_dt'].describe(include='all')

count                  322661
unique                   3650
top       2003-01-01 00:00:00
freq                     9436
first     1959-09-04 00:00:00
last      2023-12-27 00:00:00
Name: event_dt, dtype: object

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 322661 entries, 192 to 1904756
Data columns (total 54 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         322661 non-null  int64
 1   caseid            322661 non-null  int64
 2   drug_seq          322661 non-null  int64
 3   role_cod          322661 non-null  object
 4   drugname          322661 non-null  object
 5   prod_ai           322661 non-null  object
 6   val_vbm           322661 non-null  int64
 7   route             275481 non-null  object
 8   dose_vbm          276433 non-null  object
 9   cum_dose_chr      24030 non-null   float64
 10  cum_dose_unit     24010 non-null   object
 11  dechal            266815 non-null  object
 12  rechal            92664 non-null   object
 13  lot_num           63603 non-null   object
 14  exp_dt            6903 non-null    datetime64[ns]
 15  nda_num           297990 non-null  float64
 16  dose_amt          219933 non-null  float64
 17  dose_unit         219932 non-null  object
 18  dose_form         157130 non-null  object
 19  dose_freq         129570 non-null  object
 20  indi_drug_seq     322661 non-null  int64
 21  indi_pt           322661 non-null  object
 22  dsg_drug_seq      184998 non-null  float64
 23  start_dt          165188 non-null  datetime64[ns]
 24  end_dt            114098 non-null  datetime64[ns]
 25  dur               30065 non-null   float64
 26  dur_cod           30061 non-null   object
 27  caseversion       322661 non-null  int64
 28  i_f_code          322661 non-null  object
 29  event_dt          322661 non-null  datetime64[ns]
 30  mfr_dt            300325 non-null  datetime64[ns]
 31  init_fda_dt       322661 non-null  datetime64[ns]
 32  fda_dt            322661 non-null  datetime64[ns]
 33  rept_cod          322661 non-null  object
 34  auth_num          71165 non-null   object
 35  mfr_num           300165 non-null  object
 36  mfr_sndr          322661 non-null  object
 37  lit_ref           43290 non-null   object
 38  age               248702 non-null  float64
 39  age_cod           248782 non-null  object
 40  age_grp           44084 non-null   object
 41  sex               296063 non-null  object
 42  e_sub             322661 non-null  object
 43  wt                131241 non-null  float64
 44  wt_cod            131241 non-null  object
 45  rept_dt           322432 non-null  datetime64[ns]
 46  to_mfr            22412 non-null   object
 47  occp_cod          320572 non-null  object
 48  reporter_country  322656 non-null  object
 49  occr_country      312374 non-null  object
 50  pt                322661 non-null  object
 51  drug_rec_act      1201 non-null    object
 52  outc_cod          285749 non-null  object
 53  rpsr_cod          21920 non-null   object
dtypes: datetime64[ns](8), float64(7), int64(6), object(33)
memory usage: 143.5+ MB

In [17]:
# filter all the event happens from 2018 to 2023
data = data[(data['event_dt'] >= '2018-01-01') & (data['event_dt'] <= '2023-12-31')]

In [18]:
# after filter, we only keep event_dt for further analysis, other dates we drop due to large missing values
drop_date_col = [col for col in data.columns if col.endswith('_dt') and col != 'event_dt']

data = data.drop(columns=drop_date_col)

print(drop_date_col)
print(data.info())

['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 248239 entries, 192 to 1904754
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         248239 non-null  int64
 1   caseid            248239 non-null  int64
 2   drug_seq          248239 non-null  int64
 3   role_cod          248239 non-null  object
 4   drugname          248239 non-null  object
 5   prod_ai           248239 non-null  object
 6   val_vbm           248239 non-null  int64
 7   route             207758 non-null  object
 8   dose_vbm          208795 non-null  object
 9   cum_dose_chr      14812 non-null   float64
 10  cum_dose_unit     14792 non-null   object
 11  dechal            203244 non-null  object
 12  rechal            70881 non-null   object
 13  lot_num           52616 non-null   object
 14  nda_num           227186 non-null  float64
 15  dose_amt          166708 non-null  float64
 16  dose_unit         166707 non-null  object
 17  dose_form         114146 non-null  object
 18  dose_freq         94344 non-null   object
 19  indi_drug_seq     248239 non-null  int64
 20  indi_pt           248239 non-null  object
 21  dsg_drug_seq      126373 non-null  float64
 22  dur               23317 non-null   float64
 23  dur_cod           23313 non-null   object
 24  caseversion       248239 non-null  int64
 25  i_f_code          248239 non-null  object
 26  event_dt          248239 non-null  datetime64[ns]
 27  rept_cod          248239 non-null  object
 28  auth_num          55153 non-null   object
 29  mfr_num           228958 non-null  object
 30  mfr_sndr          248239 non-null  object
 31  lit_ref           39592 non-null   object
 32  age               192067 non-null  float64
 33  age_cod           192143 non-null  object
 34  age_grp           35626 non-null   object
 35  sex               226465 non-null  object
 36  e_sub             248239 non-null  object
 37  wt                94384 non-null   float64
 38  wt_cod            94384 non-null   object
 39  to_mfr            19182 non-null   object
 40  occp_cod          246421 non-null  object
 41  reporter_country  248234 non-null  object
 42  occr_country      238583 non-null  object
 43  pt                248239 non-null  object
 44  drug_rec_act      871 non-null     object
 45  outc_cod          216120 non-null  object
 46  rpsr_cod          18492 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(6), object(33)
memory usage: 90.9+ MB
None

Remove columns from initial dataset: ['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt']

In [19]:
data.describe(include='all').T

/var/folders/_z/wx40qqws337c64bjr5v3vh_80000gn/T/ipykernel_49531/3536075253.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
primaryid,248239.0,NaN,NaN,NaN,NaT,NaT,220022549.950785,239742132.015691,58509932.0,163883434.5,181909251.0,206956311.0,2288369510.0
caseid,248239.0,NaN,NaN,NaN,NaT,NaT,18351328.618489,2668815.57536,5850993.0,16351423.0,18108602.0,20491761.0,23357481.0
drug_seq,248239.0,NaN,NaN,NaN,NaT,NaT,1.117911,0.91429,1.0,1.0,1.0,1.0,33.0
role_cod,248239,1,primary suspect,248239,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drugname,248239,2161,SERTRALINE,22691,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prod_ai,248239,357,SERTRALINE HYDROCHLORIDE,32726,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
val_vbm,248239.0,NaN,NaN,NaN,NaT,NaT,1.0,0.0,1.0,1.0,1.0,1.0,1.0
route,207758,23,Oral,119455,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_vbm,208795,10019,UNK,28793,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cum_dose_chr,14812.0,NaN,NaN,NaN,NaT,NaT,15235.404346,75837.209386,0.0,75.0,370.5,2840.0,1398375.0
cum_dose_unit,14792,10,MG,13027,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dechal,203244,4,U,77555,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rechal,70881,4,U,53003,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lot_num,52616,2810,UNKNOWN,18283,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nda_num,227186.0,NaN,NaN,NaN,NaT,NaT,182643.75175,7527009.512855,61.0,21436.0,77206.0,200603.0,1145103000.0
dose_amt,166708.0,NaN,NaN,NaN,NaT,NaT,124.609251,595.970357,0.0,10.0,37.5,90.0,14100.0
dose_unit,166707,18,MG,154953,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_form,114146,190,TABLET,34153,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dose_freq,94344,29,QD,81026,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indi_drug_seq,248239.0,NaN,NaN,NaN,NaT,NaT,1.117911,0.91429,1.0,1.0,1.0,1.0,33.0
indi_pt,248239,30,depression,186674,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dsg_drug_seq,126373.0,NaN,NaN,NaN,NaT,NaT,1.078086,0.922363,1.0,1.0,1.0,1.0,33.0
dur,23317.0,NaN,NaN,NaN,NaT,NaT,134.370537,511.093377,0.0,3.0,15.0,129.0,13850.0
dur_cod,23313,6,DAY,16147,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
caseversion,248239.0,NaN,NaN,NaN,NaT,NaT,2.120066,2.998161,1.0,1.0,1.0,2.0,49.0
i_f_code,248239,2,I,156744,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_dt,248239,2179,2018-01-01 00:00:00,3946,2018-01-01,2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rept_cod,248239,5,EXP,199394,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
auth_num,55153,7180,GB-MHRA-EYC 00245177,705,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mfr_num,228958,43397,FR-GLAXOSMITHKLINE-FR2019133161,632,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mfr_sndr,248239,173,AUROBINDO,31812,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lit_ref,39592,5207,Unknown. Falls in an elderly person with multi...,273,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,192067.0,NaN,NaN,NaN,NaT,NaT,62.664148,563.639774,0.0,30.0,48.0,63.0,32056.0
age_cod,192143,6,YR,183968,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age_grp,35626,6,A,24945,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,226465,5,F,152704,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e_sub,248239,2,Y,228958,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wt,94384.0,NaN,NaN,NaN,NaT,NaT,70.697335,29.826706,0.0,57.7,70.0,85.0,378.0
wt_cod,94384,2,KG,93964,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
to_mfr,19182,2,N,17491,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occp_cod,246421,6,CN,98312,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reporter_country,248234,93,US,88751,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occr_country,238583,94,US,82267,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pt,248239,4604,Suicidal ideation,4085,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drug_rec_act,871,344,Toxicity to various agents,19,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
outc_cod,216120,7,OT,108416,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rpsr_cod,18492,5,CSM,15444,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.1.3 Filter indi_pt

Due to many indication not for depression, we filter out only antidepressant or psychotics indication for our analysis.

In [20]:
# check any irrelevant indication
data['indi_pt'].value_counts()

depression                                                   186674
major depression                                              35209
antidepressant therapy                                         7395
depressed mood                                                 4575
mixed anxiety and depressive disorder                          4476
depressive symptom                                             2464
perinatal depression                                           1834
depression suicidal                                            1602
adjustment disorder with depressed mood                        1023
persistent depressive disorder                                 1008
schizoaffective disorder depressive type                        906
torsade de pointes                                              319
agitated depression                                             182
adjustment disorder with mixed anxiety and depressed mood       177
depressed level of consciousness                                118
depressive delusion                                              73
post stroke depression                                           66
childhood depression                                             30
respiratory depression                                           26
menopausal depression                                            17
palisaded neutrophilic granulomatous dermatitis                  16
antidepressant drug level                                        13
electrocardiogram st segment depression                          13
antidepressant discontinuation syndrome                           6
congenital hypoplasia of depressor angularis oris muscle          4
dementia of the alzheimers type with depressed mood               4
deprescribing error                                               3
depression postoperative                                          3
neonatal respiratory depression                                   2
sadism                                                            1
Name: indi_pt, dtype: int64

In [21]:
# filter non-relevant indication
focused_indi = ['depression', 'major depression', 'antidepressant therapy', 'depressed mood',
                'mixed anxiety and depressive disorder', 'depressive symptom','perinatal depression', 'depression suicidal', 
                'adjustment disorder with depressed mood', 'persistent depressive disorder', 'schizoaffective disorder depressive type', 
                'agitated depression','adjustment disorder with mixed anxiety and depressed mood', 'depressive delusion',
                'post stroke depression', 'childhood depression', 'menopausal depression', 'antidepressant drug level',
                'antidepressant discontinuation syndrome', 'depression postoperative']
    
data = data[data['indi_pt'].isin(focused_indi)]

data['indi_pt'].value_counts()

depression                                                   186674
major depression                                              35209
antidepressant therapy                                         7395
depressed mood                                                 4575
mixed anxiety and depressive disorder                          4476
depressive symptom                                             2464
perinatal depression                                           1834
depression suicidal                                            1602
adjustment disorder with depressed mood                        1023
persistent depressive disorder                                 1008
schizoaffective disorder depressive type                        906
agitated depression                                             182
adjustment disorder with mixed anxiety and depressed mood       177
depressive delusion                                              73
post stroke depression                                           66
childhood depression                                             30
menopausal depression                                            17
antidepressant drug level                                        13
antidepressant discontinuation syndrome                           6
depression postoperative                                          3
Name: indi_pt, dtype: int64

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247733 entries, 192 to 1904754
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247733 non-null  int64
 1   caseid            247733 non-null  int64
 2   drug_seq          247733 non-null  int64
 3   role_cod          247733 non-null  object
 4   drugname          247733 non-null  object
 5   prod_ai           247733 non-null  object
 6   val_vbm           247733 non-null  int64
 7   route             207290 non-null  object
 8   dose_vbm          208350 non-null  object
 9   cum_dose_chr      14808 non-null   float64
 10  cum_dose_unit     14788 non-null   object
 11  dechal            202785 non-null  object
 12  rechal            70582 non-null   object
 13  lot_num           52539 non-null   object
 14  nda_num           226701 non-null  float64
 15  dose_amt          166469 non-null  float64
 16  dose_unit         166468 non-null  object
 17  dose_form         113891 non-null  object
 18  dose_freq         94145 non-null   object
 19  indi_drug_seq     247733 non-null  int64
 20  indi_pt           247733 non-null  object
 21  dsg_drug_seq      126098 non-null  float64
 22  dur               23307 non-null   float64
 23  dur_cod           23303 non-null   object
 24  caseversion       247733 non-null  int64
 25  i_f_code          247733 non-null  object
 26  event_dt          247733 non-null  datetime64[ns]
 27  rept_cod          247733 non-null  object
 28  auth_num          55124 non-null   object
 29  mfr_num           228467 non-null  object
 30  mfr_sndr          247733 non-null  object
 31  lit_ref           39442 non-null   object
 32  age               191795 non-null  float64
 33  age_cod           191871 non-null  object
 34  age_grp           35548 non-null   object
 35  sex               226116 non-null  object
 36  e_sub             247733 non-null  object
 37  wt                94320 non-null   float64
 38  wt_cod            94320 non-null   object
 39  to_mfr            19167 non-null   object
 40  occp_cod          245916 non-null  object
 41  reporter_country  247728 non-null  object
 42  occr_country      238088 non-null  object
 43  pt                247733 non-null  object
 44  drug_rec_act      871 non-null     object
 45  outc_cod          215648 non-null  object
 46  rpsr_cod          18477 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(6), object(33)
memory usage: 90.7+ MB

### 2.2 CHECK DATA - DRUG

#### 2.2.1 Check drugname, val_vbm
There are various drug names in the market from different macnufacturer. We only focus their product active ingredient adverse events => remove drugname and val_vbm columns

In [23]:
# drop the columns 'drugname' and 'val_vbm'
data = data.drop(columns=['drugname', 'val_vbm'])

print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247733 entries, 192 to 1904754
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247733 non-null  int64
 1   caseid            247733 non-null  int64
 2   drug_seq          247733 non-null  int64
 3   role_cod          247733 non-null  object
 4   prod_ai           247733 non-null  object
 5   route             207290 non-null  object
 6   dose_vbm          208350 non-null  object
 7   cum_dose_chr      14808 non-null   float64
 8   cum_dose_unit     14788 non-null   object
 9   dechal            202785 non-null  object
 10  rechal            70582 non-null   object
 11  lot_num           52539 non-null   object
 12  nda_num           226701 non-null  float64
 13  dose_amt          166469 non-null  float64
 14  dose_unit         166468 non-null  object
 15  dose_form         113891 non-null  object
 16  dose_freq         94145 non-null   object
 17  indi_drug_seq     247733 non-null  int64
 18  indi_pt           247733 non-null  object
 19  dsg_drug_seq      126098 non-null  float64
 20  dur               23307 non-null   float64
 21  dur_cod           23303 non-null   object
 22  caseversion       247733 non-null  int64
 23  i_f_code          247733 non-null  object
 24  event_dt          247733 non-null  datetime64[ns]
 25  rept_cod          247733 non-null  object
 26  auth_num          55124 non-null   object
 27  mfr_num           228467 non-null  object
 28  mfr_sndr          247733 non-null  object
 29  lit_ref           39442 non-null   object
 30  age               191795 non-null  float64
 31  age_cod           191871 non-null  object
 32  age_grp           35548 non-null   object
 33  sex               226116 non-null  object
 34  e_sub             247733 non-null  object
 35  wt                94320 non-null   float64
 36  wt_cod            94320 non-null   object
 37  to_mfr            19167 non-null   object
 38  occp_cod          245916 non-null  object
 39  reporter_country  247728 non-null  object
 40  occr_country      238088 non-null  object
 41  pt                247733 non-null  object
 42  drug_rec_act      871 non-null     object
 43  outc_cod          215648 non-null  object
 44  rpsr_cod          18477 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(5), object(32)
memory usage: 86.9+ MB
None

Remove columns from initial dataset:
['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', '']

#### 2.2.2 Check prod_ai

In [24]:
data['prod_ai'] = data['prod_ai'].apply(normalize_text)

In [25]:
# check prod_ai
prod_ai_check = data['prod_ai'].value_counts()
print(prod_ai_check)

# prod_ai_check_df = prod_ai_check.reset_index()
# prod_ai_check_df.columns = ['prod_ai', 'count']
# prod_ai_check_df.to_csv('prod_ai_check.csv', index=False) => export file for manually mapping

sertraline hydrochloride         32705
venlafaxine hydrochloride        27290
escitalopram oxalate             16083
fluoxetine hydrochloride         14337
esketamine                       12993
                                 ...
amitriptylinechlordiazepoxide        1
fremanezumabvfrm                     1
perphenazine                         1
metoprolol tartrate                  1
propylhexedrine                      1
Name: prod_ai, Length: 330, dtype: int64

In [26]:
# remove the missing values of prod_ai
data = data[data['prod_ai'].str.strip().str.lower() != 'unspecified ingredient']

data['prod_ai'].value_counts()

sertraline hydrochloride                               32705
venlafaxine hydrochloride                              27290
escitalopram oxalate                                   16083
fluoxetine hydrochloride                               14337
esketamine                                             12993
                                                       ...
estradiol hemihydratenorethindrone acetaterelugolix        1
baclofen                                                   1
amitriptylinechlordiazepoxide                              1
perphenazine                                               1
propylhexedrine                                            1
Name: prod_ai, Length: 329, dtype: int64

In [27]:
# load prod_ai mapping file after manually reviewing and check prod_ai with WebMD website
prod_ai_map = pd.read_excel('prod_ai_map.xlsx')

prod_ai_map.head()

,prod_ai,prod_ai_cleaned,webmd_group,webmd_ad
0,sertraline hydrochloride,sertraline,selective serotonin reuptake inhibitors,antidepressants
1,venlafaxine hydrochloride,venlafaxine,serotonin and norepinephrine reuptake inhibitors,antidepressants
2,escitalopram oxalate,escitalopram,selective serotonin reuptake inhibitors,antidepressants
3,fluoxetine hydrochloride,fluoxetine,selective serotonin reuptake inhibitors,antidepressants
4,esketamine,esketamine,n-methyl d-aspartate antagonists,antidepressants

In [28]:
# merge new prod_ai_cleanded, webmd_group, webmd_ad
data['prod_ai'] = data['prod_ai'].str.strip().str.lower()
prod_ai_map['prod_ai'] = prod_ai_map['prod_ai'].str.strip().str.lower()

mapping_columns = ['prod_ai', 'prod_ai_cleaned', 'webmd_group', 'webmd_ad']
prod_ai_map = prod_ai_map[mapping_columns]

data = pd.merge(data, prod_ai_map, on='prod_ai', how='left')

print(data.head())

   primaryid   caseid  drug_seq         role_cod                   prod_ai  \
0   74189024  7418902         1  primary suspect  sertraline hydrochloride
1   74189024  7418902         1  primary suspect  sertraline hydrochloride
2   74189024  7418902         1  primary suspect  sertraline hydrochloride
3   74189024  7418902         1  primary suspect  sertraline hydrochloride
4   74189024  7418902         1  primary suspect  sertraline hydrochloride

     route          dose_vbm  cum_dose_chr cum_dose_unit dechal  ... occp_cod  \
0  Unknown  50 milligram, qd           NaN           NaN      Y  ...       MD
1  Unknown  50 milligram, qd           NaN           NaN      Y  ...       MD
2  Unknown  50 milligram, qd           NaN           NaN      Y  ...       MD
3  Unknown  50 milligram, qd           NaN           NaN      Y  ...       MD
4  Unknown  50 milligram, qd           NaN           NaN      Y  ...       MD

  reporter_country  occr_country                   pt drug_rec_act outc_cod  \
0               PT            PT    Movement disorder          NaN       HO
1               PT            PT    Movement disorder          NaN       OT
2               PT            PT               Tremor          NaN       HO
3               PT            PT               Tremor          NaN       OT
4               PT            PT  Conversion disorder          NaN       HO

  rpsr_cod  prod_ai_cleaned                              webmd_group  \
0      NaN       sertraline  selective serotonin reuptake inhibitors
1      NaN       sertraline  selective serotonin reuptake inhibitors
2      NaN       sertraline  selective serotonin reuptake inhibitors
3      NaN       sertraline  selective serotonin reuptake inhibitors
4      NaN       sertraline  selective serotonin reuptake inhibitors

          webmd_ad
0  antidepressants
1  antidepressants
2  antidepressants
3  antidepressants
4  antidepressants

[5 rows x 48 columns]

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 48 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   route             207289 non-null  object
 6   dose_vbm          208349 non-null  object
 7   cum_dose_chr      14807 non-null   float64
 8   cum_dose_unit     14787 non-null   object
 9   dechal            202774 non-null  object
 10  rechal            70582 non-null   object
 11  lot_num           52531 non-null   object
 12  nda_num           226700 non-null  float64
 13  dose_amt          166463 non-null  float64
 14  dose_unit         166462 non-null  object
 15  dose_form         113880 non-null  object
 16  dose_freq         94137 non-null   object
 17  indi_drug_seq     247721 non-null  int64
 18  indi_pt           247721 non-null  object
 19  dsg_drug_seq      126086 non-null  float64
 20  dur               23306 non-null   float64
 21  dur_cod           23302 non-null   object
 22  caseversion       247721 non-null  int64
 23  i_f_code          247721 non-null  object
 24  event_dt          247721 non-null  datetime64[ns]
 25  rept_cod          247721 non-null  object
 26  auth_num          55123 non-null   object
 27  mfr_num           228455 non-null  object
 28  mfr_sndr          247721 non-null  object
 29  lit_ref           39442 non-null   object
 30  age               191783 non-null  float64
 31  age_cod           191859 non-null  object
 32  age_grp           35539 non-null   object
 33  sex               226104 non-null  object
 34  e_sub             247721 non-null  object
 35  wt                94308 non-null   float64
 36  wt_cod            94308 non-null   object
 37  to_mfr            19167 non-null   object
 38  occp_cod          245904 non-null  object
 39  reporter_country  247716 non-null  object
 40  occr_country      238076 non-null  object
 41  pt                247721 non-null  object
 42  drug_rec_act      871 non-null     object
 43  outc_cod          215636 non-null  object
 44  rpsr_cod          18477 non-null   object
 45  prod_ai_cleaned   247721 non-null  object
 46  webmd_group       247721 non-null  object
 47  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(35)
memory usage: 92.6+ MB

In [30]:
# replace 'prod_ai' with 'prod_ai_cleaned'
data['prod_ai'] = data['prod_ai_cleaned']

# remove 'prod_ai_cleaned'
data = data.drop(columns=['prod_ai_cleaned'])

# double-check
print(data.info())
print(data['prod_ai'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   route             207289 non-null  object
 6   dose_vbm          208349 non-null  object
 7   cum_dose_chr      14807 non-null   float64
 8   cum_dose_unit     14787 non-null   object
 9   dechal            202774 non-null  object
 10  rechal            70582 non-null   object
 11  lot_num           52531 non-null   object
 12  nda_num           226700 non-null  float64
 13  dose_amt          166463 non-null  float64
 14  dose_unit         166462 non-null  object
 15  dose_form         113880 non-null  object
 16  dose_freq         94137 non-null   object
 17  indi_drug_seq     247721 non-null  int64
 18  indi_pt           247721 non-null  object
 19  dsg_drug_seq      126086 non-null  float64
 20  dur               23306 non-null   float64
 21  dur_cod           23302 non-null   object
 22  caseversion       247721 non-null  int64
 23  i_f_code          247721 non-null  object
 24  event_dt          247721 non-null  datetime64[ns]
 25  rept_cod          247721 non-null  object
 26  auth_num          55123 non-null   object
 27  mfr_num           228455 non-null  object
 28  mfr_sndr          247721 non-null  object
 29  lit_ref           39442 non-null   object
 30  age               191783 non-null  float64
 31  age_cod           191859 non-null  object
 32  age_grp           35539 non-null   object
 33  sex               226104 non-null  object
 34  e_sub             247721 non-null  object
 35  wt                94308 non-null   float64
 36  wt_cod            94308 non-null   object
 37  to_mfr            19167 non-null   object
 38  occp_cod          245904 non-null  object
 39  reporter_country  247716 non-null  object
 40  occr_country      238076 non-null  object
 41  pt                247721 non-null  object
 42  drug_rec_act      871 non-null     object
 43  outc_cod          215636 non-null  object
 44  rpsr_cod          18477 non-null   object
 45  webmd_group       247721 non-null  object
 46  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(34)
memory usage: 90.7+ MB
None
sertraline                     32705
venlafaxine                    27290
escitalopram                   16083
bupropion                      16026
fluoxetine                     14343
                               ...
pentosan polysulfate sodium        1
tadalafil                          1
apomorphine                        1
levonorgestrel                     1
propylhexedrine                    1
Name: prod_ai, Length: 227, dtype: int64

Remove columns from initial dataset:
['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai']

#### 2.2.3 Check route, dose_vbm, cum_dose_chr, cum_dose_unit

In [31]:
data['route'] = data['route'].apply(normalize_text)

data['route'].value_counts()

oral                                   119271
unknown                                 74251
                                        40432
transplacental                           9995
intravenous not otherwise specified       811
nasal                                     757
intramuscular                             673
transdermal                               409
transmammary                              240
other                                     189
sublingual                                164
respiratory inhalation                    160
endocervical                              148
subcutaneous                               82
vaginal                                    42
intravenous drip                           31
buccal                                     29
parenteral                                  9
intrathoracic                               8
intrauterine                                7
rectal                                      6
ophthalmic                                  6
intranasally                                1
Name: route, dtype: int64

In [32]:
# route seems not relevant to adverse events => remove
data = data.drop(columns=['route'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   dose_vbm          208349 non-null  object
 6   cum_dose_chr      14807 non-null   float64
 7   cum_dose_unit     14787 non-null   object
 8   dechal            202774 non-null  object
 9   rechal            70582 non-null   object
 10  lot_num           52531 non-null   object
 11  nda_num           226700 non-null  float64
 12  dose_amt          166463 non-null  float64
 13  dose_unit         166462 non-null  object
 14  dose_form         113880 non-null  object
 15  dose_freq         94137 non-null   object
 16  indi_drug_seq     247721 non-null  int64
 17  indi_pt           247721 non-null  object
 18  dsg_drug_seq      126086 non-null  float64
 19  dur               23306 non-null   float64
 20  dur_cod           23302 non-null   object
 21  caseversion       247721 non-null  int64
 22  i_f_code          247721 non-null  object
 23  event_dt          247721 non-null  datetime64[ns]
 24  rept_cod          247721 non-null  object
 25  auth_num          55123 non-null   object
 26  mfr_num           228455 non-null  object
 27  mfr_sndr          247721 non-null  object
 28  lit_ref           39442 non-null   object
 29  age               191783 non-null  float64
 30  age_cod           191859 non-null  object
 31  age_grp           35539 non-null   object
 32  sex               226104 non-null  object
 33  e_sub             247721 non-null  object
 34  wt                94308 non-null   float64
 35  wt_cod            94308 non-null   object
 36  to_mfr            19167 non-null   object
 37  occp_cod          245904 non-null  object
 38  reporter_country  247716 non-null  object
 39  occr_country      238076 non-null  object
 40  pt                247721 non-null  object
 41  drug_rec_act      871 non-null     object
 42  outc_cod          215636 non-null  object
 43  rpsr_cod          18477 non-null   object
 44  webmd_group       247721 non-null  object
 45  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(5), object(33)
memory usage: 88.8+ MB

Remove columns from initial dataset:
['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai', 'route']

In [33]:
data['dose_vbm'] = data['dose_vbm'].apply(normalize_text)

data['dose_vbm'].value_counts()

                                                                       39601
unk                                                                    28792
          quantity1 tablets                                             2965
10 mg qd                                                                2954
20 mg qd                                                                2904
                                                                       ...
most recent 27aug2019 med kit 287600 1 2                                   1
075 mg 1 day                                                               1
100 mg twice a day one in the morning and one in the late afternoon        1
med kit number100000935984 and 100000935985                                1
45120 mgdaily                                                              1
Name: dose_vbm, Length: 8493, dtype: int64

In [34]:
data['cum_dose_chr'].describe(include='all')

count    1.480700e+04
mean     1.523052e+04
std      7.584169e+04
min      0.000000e+00
25%      7.500000e+01
50%      3.728570e+02
75%      2.840000e+03
max      1.398375e+06
Name: cum_dose_chr, dtype: float64

In [35]:
data['cum_dose_unit'] = data['cum_dose_unit'].apply(normalize_text)

data['cum_dose_unit'].value_counts()

        232934
mg       13022
df        1271
gtt        176
g          152
ml         117
ug          27
gm          14
umol         4
ul           4
Name: cum_dose_unit, dtype: int64

In [36]:
# after checking data, recommend to not use these columns for further analysis
# because the author has not enough knowledge to clean the data based on drugs dose
data = data.drop(columns=['dose_vbm', 'cum_dose_chr', 'cum_dose_unit'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 43 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   dechal            202774 non-null  object
 6   rechal            70582 non-null   object
 7   lot_num           52531 non-null   object
 8   nda_num           226700 non-null  float64
 9   dose_amt          166463 non-null  float64
 10  dose_unit         166462 non-null  object
 11  dose_form         113880 non-null  object
 12  dose_freq         94137 non-null   object
 13  indi_drug_seq     247721 non-null  int64
 14  indi_pt           247721 non-null  object
 15  dsg_drug_seq      126086 non-null  float64
 16  dur               23306 non-null   float64
 17  dur_cod           23302 non-null   object
 18  caseversion       247721 non-null  int64
 19  i_f_code          247721 non-null  object
 20  event_dt          247721 non-null  datetime64[ns]
 21  rept_cod          247721 non-null  object
 22  auth_num          55123 non-null   object
 23  mfr_num           228455 non-null  object
 24  mfr_sndr          247721 non-null  object
 25  lit_ref           39442 non-null   object
 26  age               191783 non-null  float64
 27  age_cod           191859 non-null  object
 28  age_grp           35539 non-null   object
 29  sex               226104 non-null  object
 30  e_sub             247721 non-null  object
 31  wt                94308 non-null   float64
 32  wt_cod            94308 non-null   object
 33  to_mfr            19167 non-null   object
 34  occp_cod          245904 non-null  object
 35  reporter_country  247716 non-null  object
 36  occr_country      238076 non-null  object
 37  pt                247721 non-null  object
 38  drug_rec_act      871 non-null     object
 39  outc_cod          215636 non-null  object
 40  rpsr_cod          18477 non-null   object
 41  webmd_group       247721 non-null  object
 42  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(31)
memory usage: 83.2+ MB

Remove columns from initial dataset:

['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai', 'route',
'dose_vbm', 'cum_dose_chr', 'cum_dose_unit']

#### 2.2.4 Check dechal, rechal

In [37]:
data['dechal'] = data['dechal'].apply(normalize_text)

data['dechal'].value_counts()

u    77402
y    73070
     44947
d    34335
n    17967
Name: dechal, dtype: int64

In [38]:
data['rechal'] = data['rechal'].apply(normalize_text)

data['rechal'].value_counts()

     177139
u     52713
d     11539
y      4604
n      1726
Name: rechal, dtype: int64

In [39]:
# after checking, with large missing values, unknown, does not applied => remove these columns
data = data.drop(columns=['dechal', 'rechal'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 41 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   lot_num           52531 non-null   object
 6   nda_num           226700 non-null  float64
 7   dose_amt          166463 non-null  float64
 8   dose_unit         166462 non-null  object
 9   dose_form         113880 non-null  object
 10  dose_freq         94137 non-null   object
 11  indi_drug_seq     247721 non-null  int64
 12  indi_pt           247721 non-null  object
 13  dsg_drug_seq      126086 non-null  float64
 14  dur               23306 non-null   float64
 15  dur_cod           23302 non-null   object
 16  caseversion       247721 non-null  int64
 17  i_f_code          247721 non-null  object
 18  event_dt          247721 non-null  datetime64[ns]
 19  rept_cod          247721 non-null  object
 20  auth_num          55123 non-null   object
 21  mfr_num           228455 non-null  object
 22  mfr_sndr          247721 non-null  object
 23  lit_ref           39442 non-null   object
 24  age               191783 non-null  float64
 25  age_cod           191859 non-null  object
 26  age_grp           35539 non-null   object
 27  sex               226104 non-null  object
 28  e_sub             247721 non-null  object
 29  wt                94308 non-null   float64
 30  wt_cod            94308 non-null   object
 31  to_mfr            19167 non-null   object
 32  occp_cod          245904 non-null  object
 33  reporter_country  247716 non-null  object
 34  occr_country      238076 non-null  object
 35  pt                247721 non-null  object
 36  drug_rec_act      871 non-null     object
 37  outc_cod          215636 non-null  object
 38  rpsr_cod          18477 non-null   object
 39  webmd_group       247721 non-null  object
 40  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(29)
memory usage: 79.4+ MB

Remove columns from initial dataset:

['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai', 'route',
'dose_vbm', 'cum_dose_chr', 'cum_dose_unit', 'dechal', 'rechal']

#### 2.2.5 Check lot_num and nda_num

In [40]:
# remove these columns - not helping for analysis
data = data.drop(columns=['lot_num', 'nda_num'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   dose_amt          166463 non-null  float64
 6   dose_unit         166462 non-null  object
 7   dose_form         113880 non-null  object
 8   dose_freq         94137 non-null   object
 9   indi_drug_seq     247721 non-null  int64
 10  indi_pt           247721 non-null  object
 11  dsg_drug_seq      126086 non-null  float64
 12  dur               23306 non-null   float64
 13  dur_cod           23302 non-null   object
 14  caseversion       247721 non-null  int64
 15  i_f_code          247721 non-null  object
 16  event_dt          247721 non-null  datetime64[ns]
 17  rept_cod          247721 non-null  object
 18  auth_num          55123 non-null   object
 19  mfr_num           228455 non-null  object
 20  mfr_sndr          247721 non-null  object
 21  lit_ref           39442 non-null   object
 22  age               191783 non-null  float64
 23  age_cod           191859 non-null  object
 24  age_grp           35539 non-null   object
 25  sex               226104 non-null  object
 26  e_sub             247721 non-null  object
 27  wt                94308 non-null   float64
 28  wt_cod            94308 non-null   object
 29  to_mfr            19167 non-null   object
 30  occp_cod          245904 non-null  object
 31  reporter_country  247716 non-null  object
 32  occr_country      238076 non-null  object
 33  pt                247721 non-null  object
 34  drug_rec_act      871 non-null     object
 35  outc_cod          215636 non-null  object
 36  rpsr_cod          18477 non-null   object
 37  webmd_group       247721 non-null  object
 38  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(5), object(28)
memory usage: 75.6+ MB

Remove columns from initial dataset:

['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai', 'route',
'dose_vbm', 'cum_dose_chr', 'cum_dose_unit', 'dechal', 'rechal', 'lot_num', 'nda_num']

#### 2.2.6 Check dose_amt, dose_unit, dose_form, dose_freq

In [41]:
data['dose_amt'].describe(include='all')

count    166463.000000
mean        124.609179
std         596.399349
min           0.000000
25%          10.000000
50%          37.500000
75%          90.000000
max       14100.000000
Name: dose_amt, dtype: float64

In [42]:
data['dose_unit'] = data['dose_unit'].apply(normalize_text)

data['dose_unit'].value_counts()

mg      154731
         81259
df        8735
g         1154
gm         761
gtt        277
ml         256
mgm2       156
mgkg       142
ug         105
ng          50
iu          31
kiu         30
mgmg        15
ugkg         9
umol         4
ul           4
tot          1
mgml         1
Name: dose_unit, dtype: int64

In [43]:
data['dose_form'] = data['dose_form'].apply(normalize_text)

data['dose_form'].value_counts()

                                      133862
tablet                                 52377
nasal spray                            12487
filmcoated tablet                       9168
prolongedrelease tablet                 8743
                                       ...
tablet cr                                  1
powder for injection                       1
intrauterine delivery system               1
controlledrelease tablet  extended         1
concentrate for oral solution              1
Name: dose_form, Length: 126, dtype: int64

In [44]:
data['dose_freq'] = data['dose_freq'].apply(normalize_text)

data['dose_freq'].value_counts()

         153584
qd        80881
bid        5779
hs         2213
biw         950
tid         948
wk          917
qow         448
qid         402
q12h        361
qod         241
1x          204
month       157
999         146
q8h         112
q6h          99
q4h          74
hr           70
prn          64
qw           41
qm           10
ud            7
tiw           7
cycle         3
min           2
q3w           1
Name: dose_freq, dtype: int64

In [45]:
# after checking data, recommend to not use these columns for further analysis
# because the author has not enough knowledge to clean the data based on drug dose info
data = data.drop(columns=['dose_amt', 'dose_unit', 'dose_form', 'dose_freq'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 35 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   drug_seq          247721 non-null  int64
 3   role_cod          247721 non-null  object
 4   prod_ai           247721 non-null  object
 5   indi_drug_seq     247721 non-null  int64
 6   indi_pt           247721 non-null  object
 7   dsg_drug_seq      126086 non-null  float64
 8   dur               23306 non-null   float64
 9   dur_cod           23302 non-null   object
 10  caseversion       247721 non-null  int64
 11  i_f_code          247721 non-null  object
 12  event_dt          247721 non-null  datetime64[ns]
 13  rept_cod          247721 non-null  object
 14  auth_num          55123 non-null   object
 15  mfr_num           228455 non-null  object
 16  mfr_sndr          247721 non-null  object
 17  lit_ref           39442 non-null   object
 18  age               191783 non-null  float64
 19  age_cod           191859 non-null  object
 20  age_grp           35539 non-null   object
 21  sex               226104 non-null  object
 22  e_sub             247721 non-null  object
 23  wt                94308 non-null   float64
 24  wt_cod            94308 non-null   object
 25  to_mfr            19167 non-null   object
 26  occp_cod          245904 non-null  object
 27  reporter_country  247716 non-null  object
 28  occr_country      238076 non-null  object
 29  pt                247721 non-null  object
 30  drug_rec_act      871 non-null     object
 31  outc_cod          215636 non-null  object
 32  rpsr_cod          18477 non-null   object
 33  webmd_group       247721 non-null  object
 34  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(5), object(25)
memory usage: 68.0+ MB

Remove columns from initial dataset:

DRUG = ['exp_dt', 'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt', 'drugname', 'val_vbm', 'prod_ai', 'route',
'dose_vbm', 'cum_dose_chr', 'cum_dose_unit', 'dechal', 'rechal', 'lot_num', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

#### 2.2.7 Check drug_seq

In [46]:
# use this to merge data only, not useful for analysis => remove
data = data.drop(columns=['drug_seq'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   role_cod          247721 non-null  object
 3   prod_ai           247721 non-null  object
 4   indi_drug_seq     247721 non-null  int64
 5   indi_pt           247721 non-null  object
 6   dsg_drug_seq      126086 non-null  float64
 7   dur               23306 non-null   float64
 8   dur_cod           23302 non-null   object
 9   caseversion       247721 non-null  int64
 10  i_f_code          247721 non-null  object
 11  event_dt          247721 non-null  datetime64[ns]
 12  rept_cod          247721 non-null  object
 13  auth_num          55123 non-null   object
 14  mfr_num           228455 non-null  object
 15  mfr_sndr          247721 non-null  object
 16  lit_ref           39442 non-null   object
 17  age               191783 non-null  float64
 18  age_cod           191859 non-null  object
 19  age_grp           35539 non-null   object
 20  sex               226104 non-null  object
 21  e_sub             247721 non-null  object
 22  wt                94308 non-null   float64
 23  wt_cod            94308 non-null   object
 24  to_mfr            19167 non-null   object
 25  occp_cod          245904 non-null  object
 26  reporter_country  247716 non-null  object
 27  occr_country      238076 non-null  object
 28  pt                247721 non-null  object
 29  drug_rec_act      871 non-null     object
 30  outc_cod          215636 non-null  object
 31  rpsr_cod          18477 non-null   object
 32  webmd_group       247721 non-null  object
 33  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(25)
memory usage: 66.1+ MB

### 2.3 CHECK DATA - INDI

#### Check indi_drug_seq

In [47]:
# use this to merge data only, not useful for analysis => remove
data = data.drop(columns=['indi_drug_seq'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   role_cod          247721 non-null  object
 3   prod_ai           247721 non-null  object
 4   indi_pt           247721 non-null  object
 5   dsg_drug_seq      126086 non-null  float64
 6   dur               23306 non-null   float64
 7   dur_cod           23302 non-null   object
 8   caseversion       247721 non-null  int64
 9   i_f_code          247721 non-null  object
 10  event_dt          247721 non-null  datetime64[ns]
 11  rept_cod          247721 non-null  object
 12  auth_num          55123 non-null   object
 13  mfr_num           228455 non-null  object
 14  mfr_sndr          247721 non-null  object
 15  lit_ref           39442 non-null   object
 16  age               191783 non-null  float64
 17  age_cod           191859 non-null  object
 18  age_grp           35539 non-null   object
 19  sex               226104 non-null  object
 20  e_sub             247721 non-null  object
 21  wt                94308 non-null   float64
 22  wt_cod            94308 non-null   object
 23  to_mfr            19167 non-null   object
 24  occp_cod          245904 non-null  object
 25  reporter_country  247716 non-null  object
 26  occr_country      238076 non-null  object
 27  pt                247721 non-null  object
 28  drug_rec_act      871 non-null     object
 29  outc_cod          215636 non-null  object
 30  rpsr_cod          18477 non-null   object
 31  webmd_group       247721 non-null  object
 32  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(25)
memory usage: 64.3+ MB

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

'start_dt', 'end_dt', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt',

### 2.4 CHECK DATA - THER

#### 2.4.1 Check dsg_drug_seq

In [48]:
# use this to merge data only, not useful for analysis => remove
data = data.drop(columns=['dsg_drug_seq'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 32 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   role_cod          247721 non-null  object
 3   prod_ai           247721 non-null  object
 4   indi_pt           247721 non-null  object
 5   dur               23306 non-null   float64
 6   dur_cod           23302 non-null   object
 7   caseversion       247721 non-null  int64
 8   i_f_code          247721 non-null  object
 9   event_dt          247721 non-null  datetime64[ns]
 10  rept_cod          247721 non-null  object
 11  auth_num          55123 non-null   object
 12  mfr_num           228455 non-null  object
 13  mfr_sndr          247721 non-null  object
 14  lit_ref           39442 non-null   object
 15  age               191783 non-null  float64
 16  age_cod           191859 non-null  object
 17  age_grp           35539 non-null   object
 18  sex               226104 non-null  object
 19  e_sub             247721 non-null  object
 20  wt                94308 non-null   float64
 21  wt_cod            94308 non-null   object
 22  to_mfr            19167 non-null   object
 23  occp_cod          245904 non-null  object
 24  reporter_country  247716 non-null  object
 25  occr_country      238076 non-null  object
 26  pt                247721 non-null  object
 27  drug_rec_act      871 non-null     object
 28  outc_cod          215636 non-null  object
 29  rpsr_cod          18477 non-null   object
 30  webmd_group       247721 non-null  object
 31  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(25)
memory usage: 62.4+ MB

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

THER = ['dsg_drug_seq', 'start_dt', 'end_dt', ]

'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt',

#### 2.4.2 Check dur, dur_cod

In [49]:
data['dur'].describe(include='all')

count    23306.000000
mean       134.431511
std        511.206258
min          0.000000
25%          3.000000
50%         15.000000
75%        129.750000
max      13850.000000
Name: dur, dtype: float64

In [50]:
data['dur_cod'] = data['dur_cod'].apply(normalize_text)

data['dur_cod'].value_counts()

       224419
day     16136
yr       3161
mon      2599
wk       1229
hr        106
min        71
Name: dur_cod, dtype: int64

In [51]:
# both dur & dur_cod could help for further analysis, but large missing values (90% data) => suggest to remove
data = data.drop(columns=['dur', 'dur_cod'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   caseid            247721 non-null  int64
 2   role_cod          247721 non-null  object
 3   prod_ai           247721 non-null  object
 4   indi_pt           247721 non-null  object
 5   caseversion       247721 non-null  int64
 6   i_f_code          247721 non-null  object
 7   event_dt          247721 non-null  datetime64[ns]
 8   rept_cod          247721 non-null  object
 9   auth_num          55123 non-null   object
 10  mfr_num           228455 non-null  object
 11  mfr_sndr          247721 non-null  object
 12  lit_ref           39442 non-null   object
 13  age               191783 non-null  float64
 14  age_cod           191859 non-null  object
 15  age_grp           35539 non-null   object
 16  sex               226104 non-null  object
 17  e_sub             247721 non-null  object
 18  wt                94308 non-null   float64
 19  wt_cod            94308 non-null   object
 20  to_mfr            19167 non-null   object
 21  occp_cod          245904 non-null  object
 22  reporter_country  247716 non-null  object
 23  occr_country      238076 non-null  object
 24  pt                247721 non-null  object
 25  drug_rec_act      871 non-null     object
 26  outc_cod          215636 non-null  object
 27  rpsr_cod          18477 non-null   object
 28  webmd_group       247721 non-null  object
 29  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(24)
memory usage: 58.6+ MB

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_dt',

### 2.5 CHECK DATA - DEMO

#### 2.5.1 Check caseversion

In [52]:
data['caseversion'].describe(include='all')

count    247721.000000
mean          2.120737
std           3.000837
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max          49.000000
Name: caseversion, dtype: float64

In [53]:
check_col = data[['primaryid', 'caseid', 'caseversion']]

check_col.head(20)

    primaryid    caseid  caseversion
0    74189024   7418902            4
1    74189024   7418902            4
2    74189024   7418902            4
3    74189024   7418902            4
4    74189024   7418902            4
5    74189024   7418902            4
6    74189024   7418902            4
7    74189024   7418902            4
8   109174139  10917413            9
9   109174139  10917413            9
10  109174139  10917413            9
11  109174139  10917413            9
12  109174139  10917413            9
13  109174139  10917413            9
14  109174139  10917413            9
15  109174139  10917413            9
16  109174139  10917413            9
17  109174139  10917413            9
18  109174139  10917413            9
19  109174139  10917413            9

In [54]:
# both caseid and caseversion reflected on primary id and use for merging => remove these 2 cols
data = data.drop(columns=['caseid', 'caseversion'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   role_cod          247721 non-null  object
 2   prod_ai           247721 non-null  object
 3   indi_pt           247721 non-null  object
 4   i_f_code          247721 non-null  object
 5   event_dt          247721 non-null  datetime64[ns]
 6   rept_cod          247721 non-null  object
 7   auth_num          55123 non-null   object
 8   mfr_num           228455 non-null  object
 9   mfr_sndr          247721 non-null  object
 10  lit_ref           39442 non-null   object
 11  age               191783 non-null  float64
 12  age_cod           191859 non-null  object
 13  age_grp           35539 non-null   object
 14  sex               226104 non-null  object
 15  e_sub             247721 non-null  object
 16  wt                94308 non-null   float64
 17  wt_cod            94308 non-null   object
 18  to_mfr            19167 non-null   object
 19  occp_cod          245904 non-null  object
 20  reporter_country  247716 non-null  object
 21  occr_country      238076 non-null  object
 22  pt                247721 non-null  object
 23  drug_rec_act      871 non-null     object
 24  outc_cod          215636 non-null  object
 25  rpsr_cod          18477 non-null   object
 26  webmd_group       247721 non-null  object
 27  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(24)
memory usage: 54.8+ MB

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

DEMO = ['caseid', 'caseversion', 'mfr_dt', 'init_fda_dt', 'fda_dt']

'rept_dt',

#### 2.5.2 Check i_f_code

In [55]:
data['i_f_code'] = data['i_f_code'].apply(normalize_text)

data['i_f_code'].value_counts()

i    156431
f     91290
Name: i_f_code, dtype: int64

In [56]:
# not helpful for further analysis
data = data.drop(columns=['i_f_code'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   role_cod          247721 non-null  object
 2   prod_ai           247721 non-null  object
 3   indi_pt           247721 non-null  object
 4   event_dt          247721 non-null  datetime64[ns]
 5   rept_cod          247721 non-null  object
 6   auth_num          55123 non-null   object
 7   mfr_num           228455 non-null  object
 8   mfr_sndr          247721 non-null  object
 9   lit_ref           39442 non-null   object
 10  age               191783 non-null  float64
 11  age_cod           191859 non-null  object
 12  age_grp           35539 non-null   object
 13  sex               226104 non-null  object
 14  e_sub             247721 non-null  object
 15  wt                94308 non-null   float64
 16  wt_cod            94308 non-null   object
 17  to_mfr            19167 non-null   object
 18  occp_cod          245904 non-null  object
 19  reporter_country  247716 non-null  object
 20  occr_country      238076 non-null  object
 21  pt                247721 non-null  object
 22  drug_rec_act      871 non-null     object
 23  outc_cod          215636 non-null  object
 24  rpsr_cod          18477 non-null   object
 25  webmd_group       247721 non-null  object
 26  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(23)
memory usage: 52.9+ MB

#### 2.5.3 Check rept_cod, auth_num, mfr_num, mfr_sndr, lit_ref

In [57]:
data['rept_cod'] = data['rept_cod'].apply(normalize_text)

data['rept_cod'].value_counts()

exp      198924
per       29507
dir       19266
5day         18
30day         6
Name: rept_cod, dtype: int64

In [58]:
data['auth_num'] = data['auth_num'].apply(normalize_text)

data['auth_num'].value_counts()

                                    192598
gbmhraeyc 00245177                     705
frafssapsgr20191138                    632
gbmhraadr 28224885                     288
plmerck healthcare kgaa9284737         273
                                     ...
frafssapsma20221761                      1
gbmhramed2022041412441384204h0fz         1
frafssapsly20222044                      1
frafssapspb20191053                      1
frafssapsrn20180313                      1
Name: auth_num, Length: 7173, dtype: int64

In [59]:
data['mfr_num'] = data['mfr_num'].apply(normalize_text)

data['mfr_num'].value_counts()

                                        19266
frglaxosmithklinefr2019133161             632
usglaxosmithklineus2020gsk063158          426
uspfizer inc2021308628                    414
plmylanlabs2020m1048017                   328
                                        ...
usallergan1943746us                         1
usallergan1948292us                         1
usallergan1948657us                         1
usallergan1948906us                         1
gblupin pharmaceuticals inc201905354        1
Name: mfr_num, Length: 43247, dtype: int64

In [60]:
data['mfr_sndr'] = data['mfr_sndr'].apply(normalize_text)

data['mfr_sndr'].value_counts()

aurobindo                   31659
pfizer                      22649
mylan                       20716
fdactu                      19266
teva                        13826
                            ...
woodward pharma services        1
aralez pharmaceuticals          1
ge healthcare                   1
nuvo pharmaceuticals            1
bayer                           1
Name: mfr_sndr, Length: 165, dtype: int64

In [61]:
# project only focus on active ingredients instead of drugname => remove these column
data = data.drop(columns=['rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247721 entries, 0 to 247720
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         247721 non-null  int64
 1   role_cod          247721 non-null  object
 2   prod_ai           247721 non-null  object
 3   indi_pt           247721 non-null  object
 4   event_dt          247721 non-null  datetime64[ns]
 5   age               191783 non-null  float64
 6   age_cod           191859 non-null  object
 7   age_grp           35539 non-null   object
 8   sex               226104 non-null  object
 9   e_sub             247721 non-null  object
 10  wt                94308 non-null   float64
 11  wt_cod            94308 non-null   object
 12  to_mfr            19167 non-null   object
 13  occp_cod          245904 non-null  object
 14  reporter_country  247716 non-null  object
 15  occr_country      238076 non-null  object
 16  pt                247721 non-null  object
 17  drug_rec_act      871 non-null     object
 18  outc_cod          215636 non-null  object
 19  rpsr_cod          18477 non-null   object
 20  webmd_group       247721 non-null  object
 21  webmd_ad          247721 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(18)
memory usage: 43.5+ MB

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref']

'rept_dt',

#### 2.5.4 Check age, age_cod, age_grp

In [62]:
data['age'].describe(include='all')

count    191783.000000
mean         62.683799
std         564.056113
min           0.000000
25%          30.000000
50%          48.000000
75%          63.000000
max       32056.000000
Name: age, dtype: float64

In [63]:
data['age_cod'] = data['age_cod'].apply(normalize_text)

data['age_cod'].value_counts()

yr     183690
        55862
dy       4778
dec      2548
wk        427
mon       331
hr         85
Name: age_cod, dtype: int64

In [64]:
# define conversion factors for age_cod to years
conversion_factors = {'yr': 1,
                      'mon': 1 / 12,
                      'wk': 1 / 52,
                      'dy': 1 / 365,
                      'hr': 1 / 8760,
                      'dec': 10}

# convert age to year
data['age_cleaned'] = data['age'] * data['age_cod'].map(conversion_factors)

print(data.head(20))

    primaryid         role_cod        prod_ai             indi_pt   event_dt  \
0    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
1    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
2    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
3    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
4    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
5    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
6    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
7    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
8   109174139  primary suspect  oxcarbazepine          depression 2023-10-16
9   109174139  primary suspect  oxcarbazepine          depression 2023-10-16
10  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
11  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
12  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
13  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
14  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
15  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
16  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
17  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
18  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
19  109174139  primary suspect  oxcarbazepine          depression 2023-10-16

     age age_cod age_grp sex e_sub  ...  occp_cod reporter_country  \
0   29.0      yr     NaN   F     Y  ...        MD               PT
1   29.0      yr     NaN   F     Y  ...        MD               PT
2   29.0      yr     NaN   F     Y  ...        MD               PT
3   29.0      yr     NaN   F     Y  ...        MD               PT
4   29.0      yr     NaN   F     Y  ...        MD               PT
5   29.0      yr     NaN   F     Y  ...        MD               PT
6   29.0      yr     NaN   F     Y  ...        MD               PT
7   29.0      yr     NaN   F     Y  ...        MD               PT
8   47.0      yr     NaN   F     Y  ...        HP               ES
9   47.0      yr     NaN   F     Y  ...        HP               ES
10  47.0      yr     NaN   F     Y  ...        HP               ES
11  47.0      yr     NaN   F     Y  ...        HP               ES
12  47.0      yr     NaN   F     Y  ...        HP               ES
13  47.0      yr     NaN   F     Y  ...        HP               ES
14  47.0      yr     NaN   F     Y  ...        HP               ES
15  47.0      yr     NaN   F     Y  ...        HP               ES
16  47.0      yr     NaN   F     Y  ...        HP               ES
17  47.0      yr     NaN   F     Y  ...        HP               ES
18  47.0      yr     NaN   F     Y  ...        HP               ES
19  47.0      yr     NaN   F     Y  ...        HP               ES

   occr_country                                   pt drug_rec_act outc_cod  \
0            PT                    Movement disorder          NaN       HO
1            PT                    Movement disorder          NaN       OT
2            PT                               Tremor          NaN       HO
3            PT                               Tremor          NaN       OT
4            PT                  Conversion disorder          NaN       HO
5            PT                  Conversion disorder          NaN       OT
6            PT                          Torticollis          NaN       HO
7            PT                          Torticollis          NaN       OT
8            ES                        Adverse event          NaN       HO
9            ES                        Adverse event          NaN       OT
10           ES                       Conjunctivitis          NaN       HO
11           ES                       Conjunctivitis          NaN       OT
12           ES  Product used for unknown indication          NaN       HO
13           ES  Product used for unknown indication          NaN       OT
14           ES                       Vision blurred          NaN       HO
15           ES                       Vision blurred          NaN       OT
16           ES                            Psoriasis          NaN       HO
17           ES                            Psoriasis          NaN       OT
18           ES                       Eye irritation          NaN       HO
19           ES                       Eye irritation          NaN       OT

   rpsr_cod                              webmd_group         webmd_ad  \
0       NaN  selective serotonin reuptake inhibitors  antidepressants
1       NaN  selective serotonin reuptake inhibitors  antidepressants
2       NaN  selective serotonin reuptake inhibitors  antidepressants
3       NaN  selective serotonin reuptake inhibitors  antidepressants
4       NaN  selective serotonin reuptake inhibitors  antidepressants
5       NaN  selective serotonin reuptake inhibitors  antidepressants
6       NaN  selective serotonin reuptake inhibitors  antidepressants
7       NaN  selective serotonin reuptake inhibitors  antidepressants
8       NaN                          anticonvulsants           others
9       NaN                          anticonvulsants           others
10      NaN                          anticonvulsants           others
11      NaN                          anticonvulsants           others
12      NaN                          anticonvulsants           others
13      NaN                          anticonvulsants           others
14      NaN                          anticonvulsants           others
15      NaN                          anticonvulsants           others
16      NaN                          anticonvulsants           others
17      NaN                          anticonvulsants           others
18      NaN                          anticonvulsants           others
19      NaN                          anticonvulsants           others

   age_cleaned
0         29.0
1         29.0
2         29.0
3         29.0
4         29.0
5         29.0
6         29.0
7         29.0
8         47.0
9         47.0
10        47.0
11        47.0
12        47.0
13        47.0
14        47.0
15        47.0
16        47.0
17        47.0
18        47.0
19        47.0

[20 rows x 23 columns]

In [65]:
# filter blank age_cod but with age number
na_age_cod = data[(data['age_cod'] == '') & (data['age'].notnull())]

print(na_age_cod['age'].unique())

[]

In [66]:
data['age_cleaned'].describe(include='all')

count    191783.000000
mean         47.389630
std          20.949671
min           0.000000
25%          31.000000
50%          48.000000
75%          63.000000
max         420.000000
Name: age_cleaned, dtype: float64

In [67]:
# we only focus on patient from with age value to further analysis, age valid 12 - 123
data['age_cleaned'] = data['age_cleaned'].replace('', np.nan)

data = data.dropna(subset=['age_cleaned'])

data = data[(data['age_cleaned'] >= 12) & (data['age_cleaned'] < 123)]

data['age_cleaned'].describe(include='all')

count    185754.000000
mean         48.900512
std          19.467537
min          12.000000
25%          33.000000
50%          49.000000
75%          63.000000
max         103.000000
Name: age_cleaned, dtype: float64

In [68]:
data['age_grp'] = data['age_grp'].apply(normalize_text)

data['age_grp'].value_counts()

     159970
a     20274
e      4450
t      1056
c         4
Name: age_grp, dtype: int64

In [69]:
# recalculate age_grp based on FDA definition
def set_age_group(age):
    if 12 <= age < 21:
        return 'adolescent'
    elif 21 <= age < 65:
        return 'adult'
    elif age >= 65:
        return 'elderly'
    else:
        return None

data['age_grp'] = data['age_cleaned'].apply(set_age_group)

print(data['age_grp'].value_counts())

adult         128763
elderly        43835
adolescent     13156
Name: age_grp, dtype: int64

In [70]:
# replace 'age' with 'age_cleaned'
data['age'] = data['age_cleaned']

# remove 'age_cod' & 'age_cleaned'
data = data.drop(columns=['age_cod', 'age_cleaned'])

# double-check
print(data.info())
print(data['age'].describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185754 entries, 0 to 247720
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         185754 non-null  int64
 1   role_cod          185754 non-null  object
 2   prod_ai           185754 non-null  object
 3   indi_pt           185754 non-null  object
 4   event_dt          185754 non-null  datetime64[ns]
 5   age               185754 non-null  float64
 6   age_grp           185754 non-null  object
 7   sex               184445 non-null  object
 8   e_sub             185754 non-null  object
 9   wt                79125 non-null   float64
 10  wt_cod            79125 non-null   object
 11  to_mfr            18222 non-null   object
 12  occp_cod          184176 non-null  object
 13  reporter_country  185754 non-null  object
 14  occr_country      176950 non-null  object
 15  pt                185754 non-null  object
 16  drug_rec_act      702 non-null     object
 17  outc_cod          166448 non-null  object
 18  rpsr_cod          17534 non-null   object
 19  webmd_group       185754 non-null  object
 20  webmd_ad          185754 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 31.2+ MB
None
count    185754.000000
mean         48.900512
std          19.467537
min          12.000000
25%          33.000000
50%          49.000000
75%          63.000000
max         103.000000
Name: age, dtype: float64

Remove columns from initial dataset:

DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

INDI = ['indi_drug_seq']

THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref', 'age_cod']

'rept_dt',

#### 2.5.5 Check sex, e_sub

In [71]:
data['sex'].value_counts()

F      125078
M       59328
UNK        29
T           6
P           4
Name: sex, dtype: int64

In [72]:
# Rename the column 'sex' to 'gender'
data = data.rename(columns={'sex': 'gender'})

# rename values
gender_dic = {'F': 'female',
                  'M': 'male',
                  'UNK': 'unknown',
                  'T': 'unknown',
                  'P': 'unknown'}

data['gender'] = data['gender'].replace(gender_dic)

print(data['gender'].value_counts())

female     125078
male        59328
unknown        39
Name: gender, dtype: int64

In [73]:
data = data[data['gender'] != 'unknown']

data['gender'] = data['gender'].replace('', np.nan)
data = data.dropna(subset=['gender'])

print(data['gender'].value_counts())
print(data.info())

female    125078
male       59328
Name: gender, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 184406 entries, 0 to 247720
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         184406 non-null  int64
 1   role_cod          184406 non-null  object
 2   prod_ai           184406 non-null  object
 3   indi_pt           184406 non-null  object
 4   event_dt          184406 non-null  datetime64[ns]
 5   age               184406 non-null  float64
 6   age_grp           184406 non-null  object
 7   gender            184406 non-null  object
 8   e_sub             184406 non-null  object
 9   wt                78708 non-null   float64
 10  wt_cod            78708 non-null   object
 11  to_mfr            17959 non-null   object
 12  occp_cod          182838 non-null  object
 13  reporter_country  184406 non-null  object
 14  occr_country      175665 non-null  object
 15  pt                184406 non-null  object
 16  drug_rec_act      702 non-null     object
 17  outc_cod          165305 non-null  object
 18  rpsr_cod          17283 non-null   object
 19  webmd_group       184406 non-null  object
 20  webmd_ad          184406 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 31.0+ MB
None

In [74]:
data['e_sub'].value_counts()

Y    166385
N     18021
Name: e_sub, dtype: int64

In [75]:
# drop e_sub for not useful
data = data.drop(columns=['e_sub'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184406 entries, 0 to 247720
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         184406 non-null  int64
 1   role_cod          184406 non-null  object
 2   prod_ai           184406 non-null  object
 3   indi_pt           184406 non-null  object
 4   event_dt          184406 non-null  datetime64[ns]
 5   age               184406 non-null  float64
 6   age_grp           184406 non-null  object
 7   gender            184406 non-null  object
 8   wt                78708 non-null   float64
 9   wt_cod            78708 non-null   object
 10  to_mfr            17959 non-null   object
 11  occp_cod          182838 non-null  object
 12  reporter_country  184406 non-null  object
 13  occr_country      175665 non-null  object
 14  pt                184406 non-null  object
 15  drug_rec_act      702 non-null     object
 16  outc_cod          165305 non-null  object
 17  rpsr_cod          17283 non-null   object
 18  webmd_group       184406 non-null  object
 19  webmd_ad          184406 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 29.5+ MB

Remove columns from initial dataset:

* DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

* INDI = ['indi_drug_seq']

* THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

* DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref', 'age_cod', 'e_sub']

* 'rept_dt',


Non-AEs filtered out for event_dt: the top 3 AEs of mising bias is not AEs -> remove these 3 symptoms out of data:
* non_ae = ['Drug ineffective', 'Drug interaction', 'Off label use']

#### 2.5.6 Check wt, wt_cod, to_mfr, occp_cod, reporter_country, occr_country

In [76]:
data['reporter_country'] = data['reporter_country'].apply(normalize_text)

data['reporter_country'].value_counts()

us    60150
gb    27350
ca    17154
fr    15209
de     8814
      ...
aw        2
kz        1
um        1
bb        1
ss        1
Name: reporter_country, Length: 89, dtype: int64

In [77]:
data['occr_country'] = data['occr_country'].apply(normalize_text)

print(data['occr_country'].value_counts())
print(data['occr_country'].unique())

us    54056
gb    26611
ca    16487
fr    16104
de     9566
      ...
jm        2
um        1
bb        1
sd        1
kz        1
Name: occr_country, Length: 90, dtype: int64
['pt' 'es' 'us' 'dk' 'de' 'fr' 'ca' 'pl' 'tr' 'jp' 'se' 'gb' '' 'in' 'il'
 'it' 'hr' 'be' 'cn' 'si' 'nl' 'fi' 'au' 'ch' 'bg' 'br' 'za' 'hk' 'rs'
 'ru' 'tw' 'pe' 'ar' 'sa' 'pr' 'pa' 'ae' 'ua' 'mx' 'ma' 'at' 'th' 'gr'
 'lu' 'tn' 'ec' 'ie' 'no' 'kr' 'sd' 'eg' 'co' 'hu' 'cr' 'lt' 'cz' 'ro'
 'ir' 'mc' 'sk' 'mt' 'is' 'ph' 'my' 'id' 'sv' 'pk' 'nz' 'cl' 'np' 'lk'
 'bb' 'ee' 'kz' 'kw' 'al' 'cy' 'sg' 'ps' 'lb' 'jm' 'ke' 'um' 'jo' 'ug'
 'dm' 'zw' 'qa' 'ng' 'aw']

In [78]:
data['occr_country'] = data['occr_country'].replace('', np.nan)

data = data.dropna(subset=['occr_country'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         175665 non-null  int64
 1   role_cod          175665 non-null  object
 2   prod_ai           175665 non-null  object
 3   indi_pt           175665 non-null  object
 4   event_dt          175665 non-null  datetime64[ns]
 5   age               175665 non-null  float64
 6   age_grp           175665 non-null  object
 7   gender            175665 non-null  object
 8   wt                72681 non-null   float64
 9   wt_cod            72681 non-null   object
 10  to_mfr            11676 non-null   object
 11  occp_cod          174749 non-null  object
 12  reporter_country  175665 non-null  object
 13  occr_country      175665 non-null  object
 14  pt                175665 non-null  object
 15  drug_rec_act      693 non-null     object
 16  outc_cod          157746 non-null  object
 17  rpsr_cod          11550 non-null   object
 18  webmd_group       175665 non-null  object
 19  webmd_ad          175665 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 28.1+ MB

In [79]:
country_check = data['occr_country'].value_counts()
print(country_check)

# country_check_df = country_check.reset_index()
# country_check_df.columns = ['occr_country', 'count']
# country_check_df.to_csv('country_check_df.csv', index=False) => export file for manually checking

us    54056
gb    26611
ca    16487
fr    16104
de     9566
      ...
jm        2
um        1
bb        1
sd        1
kz        1
Name: occr_country, Length: 89, dtype: int64

In [80]:
# drop na country and map the name
country_map = {'us': 'united states', 'gb': 'united kingdom', 'ca': 'canada', 'fr': 'france',
               'de': 'germany', 'it': 'italy', 'es': 'spain', 'pl': 'poland', 'pt': 'portugal',
               'jp': 'japan', 'se': 'sweden', 'cn': 'china', 'nl': 'netherlands', 'gr': 'greece',
               'br': 'brazil', 'be': 'belgium', 'au': 'australia', 'cz': 'czechia', 'ch': 'switzerland', 'tr': 'turkey'}

# map occr_country to event_country and assign 'others' for unmatched entries
data['event_country'] = data['occr_country'].map(country_map).fillna('others')

print(data[['occr_country', 'event_country']].head(20))

   occr_country event_country
0            pt      portugal
1            pt      portugal
2            pt      portugal
3            pt      portugal
4            pt      portugal
5            pt      portugal
6            pt      portugal
7            pt      portugal
8            es         spain
9            es         spain
10           es         spain
11           es         spain
12           es         spain
13           es         spain
14           es         spain
15           es         spain
16           es         spain
17           es         spain
18           es         spain
19           es         spain

In [81]:
print(data.info())
print(country_check)
print(data['event_country'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   primaryid         175665 non-null  int64
 1   role_cod          175665 non-null  object
 2   prod_ai           175665 non-null  object
 3   indi_pt           175665 non-null  object
 4   event_dt          175665 non-null  datetime64[ns]
 5   age               175665 non-null  float64
 6   age_grp           175665 non-null  object
 7   gender            175665 non-null  object
 8   wt                72681 non-null   float64
 9   wt_cod            72681 non-null   object
 10  to_mfr            11676 non-null   object
 11  occp_cod          174749 non-null  object
 12  reporter_country  175665 non-null  object
 13  occr_country      175665 non-null  object
 14  pt                175665 non-null  object
 15  drug_rec_act      693 non-null     object
 16  outc_cod          157746 non-null  object
 17  rpsr_cod          11550 non-null   object
 18  webmd_group       175665 non-null  object
 19  webmd_ad          175665 non-null  object
 20  event_country     175665 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(17)
memory usage: 29.5+ MB
None
us    54056
gb    26611
ca    16487
fr    16104
de     9566
      ...
jm        2
um        1
bb        1
sd        1
kz        1
Name: occr_country, Length: 89, dtype: int64
united states     54056
united kingdom    26611
canada            16487
france            16104
germany            9566
others             9312
italy              7583
spain              6302
poland             5747
portugal           4580
japan              4381
sweden             2339
china              1979
netherlands        1865
greece             1776
brazil             1343
belgium            1284
australia          1254
czechia            1129
switzerland        1039
turkey              928
Name: event_country, dtype: int64

In [82]:
# replace 'occr_country' with 'event_country'
data['occr_country'] = data['event_country']

# remove 'reporter_country', 'event_country'
data = data.drop(columns=['reporter_country', 'event_country'])

# double-check
print(data.info())
print(data['occr_country'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     175665 non-null  int64
 1   role_cod      175665 non-null  object
 2   prod_ai       175665 non-null  object
 3   indi_pt       175665 non-null  object
 4   event_dt      175665 non-null  datetime64[ns]
 5   age           175665 non-null  float64
 6   age_grp       175665 non-null  object
 7   gender        175665 non-null  object
 8   wt            72681 non-null   float64
 9   wt_cod        72681 non-null   object
 10  to_mfr        11676 non-null   object
 11  occp_cod      174749 non-null  object
 12  occr_country  175665 non-null  object
 13  pt            175665 non-null  object
 14  drug_rec_act  693 non-null     object
 15  outc_cod      157746 non-null  object
 16  rpsr_cod      11550 non-null   object
 17  webmd_group   175665 non-null  object
 18  webmd_ad      175665 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 26.8+ MB
None
united states     54056
united kingdom    26611
canada            16487
france            16104
germany            9566
others             9312
italy              7583
spain              6302
poland             5747
portugal           4580
japan              4381
sweden             2339
china              1979
netherlands        1865
greece             1776
brazil             1343
belgium            1284
australia          1254
czechia            1129
switzerland        1039
turkey              928
Name: occr_country, dtype: int64

In [83]:
data['occp_cod'] = data['occp_cod'].apply(normalize_text)

data['occp_cod'].value_counts()

cn    64774
md    49420
hp    33314
ot    14504
ph    12523
        916
lw      214
Name: occp_cod, dtype: int64

In [84]:
# drop columns not neccessary for further analysis
data = data.drop(columns=['wt', 'wt_cod', 'to_mfr', 'occp_cod'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     175665 non-null  int64
 1   role_cod      175665 non-null  object
 2   prod_ai       175665 non-null  object
 3   indi_pt       175665 non-null  object
 4   event_dt      175665 non-null  datetime64[ns]
 5   age           175665 non-null  float64
 6   age_grp       175665 non-null  object
 7   gender        175665 non-null  object
 8   occr_country  175665 non-null  object
 9   pt            175665 non-null  object
 10  drug_rec_act  693 non-null     object
 11  outc_cod      157746 non-null  object
 12  rpsr_cod      11550 non-null   object
 13  webmd_group   175665 non-null  object
 14  webmd_ad      175665 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 21.4+ MB

Remove columns from initial dataset:

* DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

* INDI = ['indi_drug_seq']

* THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

* DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref',
'age_cod', 'e_sub', 'wt', 'wt_cod', 'rept_dt', 'to_mfr', 'occp_cod', 'reporter_country']

* 


Non-AEs filtered out for event_dt: the top 3 AEs of mising bias is not AEs -> remove these 3 symptoms out of data:
* non_ae = ['Drug ineffective', 'Drug interaction', 'Off label use']

### 2.6 CHECK DATA - REAC & OUTC

#### 2.6.1 Check outc_cod

In [85]:
data['outc_cod'] = data['outc_cod'].apply(normalize_text)

data['outc_cod'].value_counts()

ot    79156
ho    49006
      17919
lt    13750
ds    10507
de     4809
ri      313
ca      205
Name: outc_cod, dtype: int64

In [86]:
# map the patient outcome
outcome_map = {'ot': 'others',
               'ho': 'hospitalisation',
               'lt': 'life threatening',
               'ds': 'disability',
               'de': 'death',
               'ri': 'required intervention',
               'ca': 'congenital anomaly'}

# map occr_country to event_country and assign 'others' for unmatched entries
data['outc_cod'] = data['outc_cod'].replace('', np.nan)

data['outc_cod'] = data['outc_cod'].map(outcome_map).fillna('others')

print(data['outc_cod'].value_counts())
print(data.info())

others                   97075
hospitalisation          49006
life threatening         13750
disability               10507
death                     4809
required intervention      313
congenital anomaly         205
Name: outc_cod, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     175665 non-null  int64
 1   role_cod      175665 non-null  object
 2   prod_ai       175665 non-null  object
 3   indi_pt       175665 non-null  object
 4   event_dt      175665 non-null  datetime64[ns]
 5   age           175665 non-null  float64
 6   age_grp       175665 non-null  object
 7   gender        175665 non-null  object
 8   occr_country  175665 non-null  object
 9   pt            175665 non-null  object
 10  drug_rec_act  693 non-null     object
 11  outc_cod      175665 non-null  object
 12  rpsr_cod      11550 non-null   object
 13  webmd_group   175665 non-null  object
 14  webmd_ad      175665 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 21.4+ MB
None

#### 2.6.3 Check rpsr_cod, drug_rec_act

In [87]:
data['rpsr_cod'] = data['rpsr_cod'].apply(normalize_text)

data['rpsr_cod'].value_counts()

       164115
csm      9647
hp       1574
fgn       323
uf          6
Name: rpsr_cod, dtype: int64

In [88]:
data['drug_rec_act'] = data['drug_rec_act'].apply(normalize_text)

data['drug_rec_act'].value_counts()

                                    174972
toxicity to various agents              19
serotonin syndrome                      19
depressed level of consciousness        15
condition aggravated                    13
                                     ...
pupillary deformity                      1
bladder dilatation                       1
urinary retention                        1
dyspnoea                                 1
pneumonia aspiration                     1
Name: drug_rec_act, Length: 285, dtype: int64

In [89]:
# drop columns not neccessary for further analysis
# for this dataset, we focus on the 1st adverse event for further analysis => drop drug_rec_act
data = data.drop(columns=['rpsr_cod', 'drug_rec_act'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175665 entries, 0 to 247720
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     175665 non-null  int64
 1   role_cod      175665 non-null  object
 2   prod_ai       175665 non-null  object
 3   indi_pt       175665 non-null  object
 4   event_dt      175665 non-null  datetime64[ns]
 5   age           175665 non-null  float64
 6   age_grp       175665 non-null  object
 7   gender        175665 non-null  object
 8   occr_country  175665 non-null  object
 9   pt            175665 non-null  object
 10  outc_cod      175665 non-null  object
 11  webmd_group   175665 non-null  object
 12  webmd_ad      175665 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 18.8+ MB

Remove columns from initial dataset:

* DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

* INDI = ['indi_drug_seq']

* THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

* DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref',
'age_cod', 'e_sub', 'wt', 'wt_cod', 'rept_dt', 'to_mfr', 'occp_cod', 'reporter_country']

* REAC = ['drug_rec_act']

* OUTC = ['rpsr_cod']


Non-AEs filtered out for event_dt: the top 3 AEs of mising bias is not AEs -> remove these 3 symptoms out of data:
* non_ae = ['Drug ineffective', 'Drug interaction', 'Off label use']

### 2.7 CHECK DATA BEFORE ADVERSE EVENTS

In [90]:
# Drop exact duplicates across all columns
data = data.drop_duplicates(subset=['primaryid', 'pt'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126101 entries, 0 to 247720
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     126101 non-null  int64
 1   role_cod      126101 non-null  object
 2   prod_ai       126101 non-null  object
 3   indi_pt       126101 non-null  object
 4   event_dt      126101 non-null  datetime64[ns]
 5   age           126101 non-null  float64
 6   age_grp       126101 non-null  object
 7   gender        126101 non-null  object
 8   occr_country  126101 non-null  object
 9   pt            126101 non-null  object
 10  outc_cod      126101 non-null  object
 11  webmd_group   126101 non-null  object
 12  webmd_ad      126101 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 13.5+ MB

### 2.8 CHECK ADVERSE EVENTS

In [91]:
data['pt'] = data['pt'].apply(normalize_text)

data['pt'].value_counts()

nausea                               2183
suicidal ideation                    2072
anxiety                              1886
dizziness                            1798
depression                           1763
                                     ...
joint instability                       1
staphylococcal bacteraemia              1
coronary arterial stent insertion       1
perforated ulcer                        1
anaemia folate deficiency               1
Name: pt, Length: 3854, dtype: int64

In [92]:
pt_check = data['pt'].value_counts()
print(pt_check)

# pt_check_df = pt_check.reset_index()
# pt_check_df.columns = ['pt', 'count']
# pt_check_df.to_csv('pt_check_df.csv', index=False) # => export file for manually checking

nausea                               2183
suicidal ideation                    2072
anxiety                              1886
dizziness                            1798
depression                           1763
                                     ...
joint instability                       1
staphylococcal bacteraemia              1
coronary arterial stent insertion       1
perforated ulcer                        1
anaemia folate deficiency               1
Name: pt, Length: 3854, dtype: int64

In [93]:
# after reviewing 1000 highest frequency pt & randomly 116 pt based on repetitive keywords ~ 91%
# => filtered out these 175 non-ae terms

non_ae = [
    'drug ineffective', 'drug interaction', 'off label use', 'product use in unapproved indication',
    'product substitution issue', 'overdose', 'intentional overdose', 'intentional product misuse',
    'product dose omission issue', 'wrong technique in product usage process', 'product use issue',
    'intentional product use issue', 'medication error', 'underdose', 'incorrect dose administered',
    'prescribed overdose', 'product quality issue', 'product dose omission',
    'drug ineffective for unapproved indication', 'covid19', 'product prescribing error',
    'inappropriate schedule of product administration', 'contraindicated product administered',
    'product dispensing error', 'accidental overdose', 'product odour abnormal', 'device malfunction',
    'no adverse event', 'labelled drugdrug interaction medication error', 'product administration error',
    'product residue present', 'device issue', 'product complaint', 'extra dose administered',
    'expired product administered', 'product availability issue', 'drug effective for unapproved indication',
    'product formulation issue', 'intentional dose omission', 'product taste abnormal',
    'product physical issue', 'drug dose omission', 'unevaluable event', 'drug screen false positive',
    'poor quality product administered', 'prescribed underdose', 'product dose omission in error',
    'incorrect route of product administration', 'product administered to patient of inappropriate age',
    'drug titration error', 'economic problem', 'product prescribing issue',
    'drug monitoring procedure incorrectly performed', 'product use complaint', 'pregnancy',
    'prescription drug used without a prescription', 'therapeutic product ineffective',
    'product solubility abnormal', 'therapeutic product effect delayed', 'drug dispensed to wrong patient',
    'product label issue', 'circumstance or information capable of leading to medication error',
    'suspected counterfeit product', 'wrong product administered', 'wrong dose', 'device defective',
    'manufacturing issue', 'inappropriate schedule of drug administration', 'product administration interrupted',
    'contraindication to medical treatment', 'suspected product quality issue',
    'manufacturing materials issue', 'product packaging quantity issue', 'product colour issue',
    'drug monitoring procedure not performed', 'accidental exposure to product',
    'incorrect product administration duration', 'drug administered to patient of inappropriate age',
    'drug dose titration not performed', 'product administered at inappropriate site', 'wrong strength',
    'product preparation error', 'inappropriate schedule of product discontinuation',
    'product storage error', 'product adhesion issue', 'duplicate therapy error', 'suspected covid19',
    'product supply issue', 'device breakage', 'wrong patient received product', 'product counterfeit',
    'retained products of conception', 'drug administration error', 'incorrect dose administered by device',
    'device dislocation', 'intercepted product selection error', 'device dispensing error',
    'incorrect dosage administered', 'intentional underdose', 'postacute covid19 syndrome',
    'product quality control issue', 'product measured potency issue', 'product lot number issue',
    'product size issue', 'syringe issue', 'product coating issue', 'product container issue',
    'abortion missed', 'counterfeit product administered', 'suspected product tampering',
    'product used for unknown indication', 'wrong dosage formulation', 'product dosage form issue',
    'product appearance confusion', 'product packaging issue', 'product shape issue', 'product commingling',
    'device adhesion issue', 'device difficult to use', 'product dispensing issue', 'intention tremor',
    'contraindicated product prescribed', 'product contamination physical', 'incorrect route of drug administration',
    'product physical consistency issue', 'product contamination', 'device leakage', 'product substitution',
    'drug prescribing error', 'recalled product administered', 'breakthrough covid19', 'covid19 pneumonia',
    'product after taste', 'device use issue', 'manufacturing production issue', 'wrong drug administered',
    'product distribution issue', 'drug dispensing error', 'product leakage', 'product communication issue',
    'accidental underdose', 'manufacturing process control procedure issue',
    'documented hypersensitivity to administered product', 'suspected product contamination',
    'discontinued product administered', 'recalled product', 'product compounding quality issue',
    'incorrect dose administered by product', 'physical product label issue', 'poor quality drug administered',
    'product monitoring error', 'therapeutic product effect prolonged', 'adulterated product',
    'intercepted medication error', 'intercepted product preparation error',
    'wrong technique in device usage process', 'device mechanical issue', 'product blister packaging issue',
    'medical device discomfort', 'wrong schedule', 'product tampering', 'labelled drugdisease interaction medication error',
    'product identification number issue', 'product confusion', 'drug therapy',
    'product contamination with body fluid', 'device failure', 'product container seal issue',
    'product selection error', 'incorrect product dosage form administered', 'product preparation issue',
    'incorrect drug administration rate', 'device programming error', 'product label confusion',
    'device infusion issue'
]

In [94]:
data = data[~data['pt'].isin(non_ae)]

print(data.info())
print(data.head(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118577 entries, 0 to 247720
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   primaryid     118577 non-null  int64
 1   role_cod      118577 non-null  object
 2   prod_ai       118577 non-null  object
 3   indi_pt       118577 non-null  object
 4   event_dt      118577 non-null  datetime64[ns]
 5   age           118577 non-null  float64
 6   age_grp       118577 non-null  object
 7   gender        118577 non-null  object
 8   occr_country  118577 non-null  object
 9   pt            118577 non-null  object
 10  outc_cod      118577 non-null  object
 11  webmd_group   118577 non-null  object
 12  webmd_ad      118577 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 12.7+ MB
None
    primaryid         role_cod        prod_ai             indi_pt   event_dt  \
0    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
2    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
4    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
6    74189024  primary suspect     sertraline  depressive symptom 2023-10-26
8   109174139  primary suspect  oxcarbazepine          depression 2023-10-16
10  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
14  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
16  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
18  109174139  primary suspect  oxcarbazepine          depression 2023-10-16
20  109174139  primary suspect  oxcarbazepine          depression 2023-10-16

     age age_grp  gender occr_country                      pt  \
0   29.0   adult  female     portugal       movement disorder
2   29.0   adult  female     portugal                  tremor
4   29.0   adult  female     portugal     conversion disorder
6   29.0   adult  female     portugal             torticollis
8   47.0   adult  female        spain           adverse event
10  47.0   adult  female        spain          conjunctivitis
14  47.0   adult  female        spain          vision blurred
16  47.0   adult  female        spain               psoriasis
18  47.0   adult  female        spain          eye irritation
20  47.0   adult  female        spain  intestinal obstruction

           outc_cod                              webmd_group         webmd_ad
0   hospitalisation  selective serotonin reuptake inhibitors  antidepressants
2   hospitalisation  selective serotonin reuptake inhibitors  antidepressants
4   hospitalisation  selective serotonin reuptake inhibitors  antidepressants
6   hospitalisation  selective serotonin reuptake inhibitors  antidepressants
8   hospitalisation                          anticonvulsants           others
10  hospitalisation                          anticonvulsants           others
14  hospitalisation                          anticonvulsants           others
16  hospitalisation                          anticonvulsants           others
18  hospitalisation                          anticonvulsants           others
20  hospitalisation                          anticonvulsants           others

### 2.9 FINAL DATA DETAILS

In [103]:
data['primaryid'].nunique()

35652

In [105]:
# rename webmd_group & webmd_ad for further analysis & save cleaned file
data = data.rename(columns={'webmd_group': 'prod_ai_group',
                            'webmd_ad': 'drug_cate'})

print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118577 entries, 0 to 247720
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   primaryid      118577 non-null  int64
 1   role_cod       118577 non-null  object
 2   prod_ai        118577 non-null  object
 3   indi_pt        118577 non-null  object
 4   event_dt       118577 non-null  datetime64[ns]
 5   age            118577 non-null  float64
 6   age_grp        118577 non-null  object
 7   gender         118577 non-null  object
 8   occr_country   118577 non-null  object
 9   pt             118577 non-null  object
 10  outc_cod       118577 non-null  object
 11  prod_ai_group  118577 non-null  object
 12  drug_cate      118577 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 12.7+ MB
None

In [106]:
data.describe(include='all').T

/var/folders/_z/wx40qqws337c64bjr5v3vh_80000gn/T/ipykernel_49531/3536075253.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
primaryid,118577.0,NaN,NaN,NaN,NaT,NaT,214149509.769719,226362961.436257,58509932.0,163496367.0,179871751.0,203117394.0,2288369510.0
role_cod,118577,1,primary suspect,118577,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prod_ai,118577,173,sertraline,17714,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
indi_pt,118577,19,depression,91358,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_dt,118577,2162,2019-01-01 00:00:00,1886,2018-01-01,2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,118577.0,NaN,NaN,NaN,NaT,NaT,49.645322,19.416225,12.0,34.0,50.0,64.0,103.0
age_grp,118577,3,adult,81583,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,118577,2,female,81612,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occr_country,118577,21,united states,39709,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pt,118577,3682,nausea,2183,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
outc_cod,118577,7,others,70068,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prod_ai_group,118577,75,selective serotonin reuptake inhibitors,46931,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drug_cate,118577,2,antidepressants,108763,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Columns are removed from initial dataset:

* DRUG = ['drug_seq', 'drugname', 'prod_ai' - *keep 'prod_ai_cleaned'*, 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr', 'cum_dose_unit',
'dechal', 'rechal', 'lot_num', 'exp_dt', 'nda_num', 'dose_amt', 'dose_unit', 'dose_form', 'dose_freq']

* INDI = ['indi_drug_seq']

* THER = ['dsg_drug_seq', 'start_dt', 'end_dt', 'dur', 'dur_cod']

* DEMO = ['caseid', 'caseversion', 'i_f_code', 'mfr_dt', 'init_fda_dt', 'fda_dt', 'rept_cod', 'auth_num', 'mfr_num', 'mfr_sndr', 'lit_ref',
'age_cod', 'e_sub', 'wt', 'wt_cod', 'rept_dt', 'to_mfr', 'occp_cod', 'reporter_country']

* REAC = ['drug_rec_act']

* OUTC = ['rpsr_cod']

Columns are added to final dataset by verified product active ingredients with WebMD: 'prod_ai_group', 'drug_cate'.

Non-AEs filtered out: Refer 2.8

In [107]:
# # save the cleaned data for AEs mapping & further analysis
# step2_data = data.copy()
# step2_data.to_csv('FAERS_cleaned_data.csv', index=False)

In [108]:
# # Group the data by 'primaryid' and aggregate the indications
# aggregated_data = data.groupby('primaryid')['indi_pt'].apply(lambda x: ', '.join(x.unique())).reset_index()

# # Count the frequency of each unique indication across all primaryids
# value_counts = aggregated_data['indi_pt'].value_counts()

# # Create a formatted DataFrame for LaTeX table
# formatted_table = pd.DataFrame({
#     'Focused Indication': value_counts.index,
#     'Frequency': value_counts.values
# })

# # Specify the column format for the LaTeX table
# column_format = 'l@{}r'

# # Generate the LaTeX table
# latex_table = formatted_table.to_latex(
#     index=False, 
#     header=True, 
#     column_format=column_format,
#     escape=False
# )

# # Save the LaTeX table to a file
# with open('Focused_Indication.tex', 'w') as f:
#     f.write(latex_table)

# # Optionally, print the first few rows of the formatted table
# print(formatted_table.head())

                      Focused Indication  Frequency
0                             depression      27086
1                       major depression       4927
2  mixed anxiety and depressive disorder        916
3                 antidepressant therapy        745
4                         depressed mood        600

/var/folders/_z/wx40qqws337c64bjr5v3vh_80000gn/T/ipykernel_49531/2690582432.py:17: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_table = formatted_table.to_latex(

> Refer fda_step3_map for next part of mapping adverse events to MedDRA categories.